<div class="row form">
  <div class="large-12 columns end">
  <%= simple_form_for([:admin, @event, @research, @survey]) do |f| %>

    <% if @survey.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

        <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <h5>Identificador</h5>
    
    <div class="large-6">
      <% @research.identifiers.each do |identifier| %>
        <%= hidden_field_tag "survey[identifiers][#{identifier.id}]", "#{identifier.id}"%>
        <%= label "survey[identifiers][#{identifier.id}]", identifier.name.humanize %>
        <% if !@survey.id.nil? %>
          <%= text_field_tag "survey[identifiers][#{identifier.id}]", @survey.survey_identifiers.find_by("survey_identifiers.identifier_id = #{identifier.id}").value, {required: true} %>
        <% else %>
          <%= text_field_tag "survey[identifiers][#{identifier.id}]", nil, {required: true} %>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <div class="large-3 small-6 medium-6 columns">
        <%= link_to 'Cancelar', admin_event_research_surveys_path, class: "button hollow radius alert" %>
      </div>
      <div class="large-3 small-6 medium-6 columns text-right end">
        <%= f.submit "Salvar", class: "button hollow radius" %>
      </div>
    </div>
  <% end %>
  </div>
</div>