<tr>
  <td>
  	<%= survey.number_survey %>
  	<span><%= l survey.updated_at.to_date, format: :long %></span>
  </td>
  <td class="hide-for-small"><%= survey.participant.nil? ? '' :  survey.participant.name %></td>
  <td class="hide-for-small"><%= survey.author.nil? ? '' : survey.author.email%></td>
  <% if !survey.answers.any? %>
    <% if can? :new, Answer %>
      <td>
      	<%= link_to admin_event_research_survey_answers_path(@event, @research, survey) do %>
      		<span class="icon-icon_48585 radius" data-tooltip aria-haspopup="true" title="Responder"></span>
      	<% end %>
      </td>
    <% end %>
  <% elsif !survey.number_survey.nil? %>
    <% if can? :show, Answer %>
      <td>
      	<%= link_to admin_event_research_survey_answers_path(@event, @research, survey) do%>
      		<span class="icon-icon_48585 radius" data-tooltip aria-haspopup="true" title="Resposta"></span>
      	<% end %>
      </td>
    <% end %>
  <% end %>
  <% if can? :edit, Survey and !survey.number_survey.nil? %>
    <td>
    	<%= link_to edit_admin_event_research_survey_path(@event, @research, survey) do%>
    		<span class="icon-edit radius" data-tooltip aria-haspopup="true" title="Editar"></span>
    	<% end %>
    </td>
  <% end %>
  <% if can? :destory, Survey and !survey.number_survey.nil? %>
    <td>
    	<%= link_to admin_event_research_survey_path(@event, @research, survey), class: "sweet", data: { text: "Tem certeza que desejar excluir o questionário: #{survey.number_survey} ?", title: "Excluir", id: survey.id } do %>
    		<span class="icon-cancel radius"></span>
    	<% end %>
    </td>
  <% end %>
</tr>