<div class="row header surveys">
  <div class="large-4 medium-3 small-12 columns">
    <span class="icon-clipboard"></span>
    <h6>Questionários</h6>  
  </div>
  <div class="large-8 medium-9   small-12 columns text-right">
    <% if can? :import, Admin::ImportSurveysController %>
      <%= link_to 'Importar', import_admin_event_research_surveys_path(@event, @research), class: "button tiny hollow radius icon-publish" %>
    <% end %>
    <% if can? :index, Admin::SurveyParticipantsController %>
      <%= link_to 'Pesquisadores', admin_event_research_survey_participants_path(@event, @research), :class => "button tiny hollow radius icon-users"%>
    <% end %>
    <% if can? :report, @research %>
      <%= link_to 'Relatório', admin_event_research_report_path, :class => "button tiny hollow radius icon-presentation" %>
    <% end %>
    <% if can? :new, Survey %>
      <%= link_to 'Criar Questionário', new_admin_event_research_survey_path, :class => "button tiny hollow radius icon-plus" %>
    <% end %>
  </div>  
</div>

<div class="row search surveys">
  <%= form_tag admin_event_research_surveys_path, method: "get", id: "searchable" do %>
    <div class="large-2 small-6 medium-2 column">
      <%= select_tag "de", options_from_collection_for_select(@surveys.limit(Survey.count), "number_survey", "number_survey"), class: 'radius large-10', prompt: "De" %>
    </div>
    <div class="large-1 divider columns"></div>
    <div class="large-2 small-6 medium-2 column">
      <%= select_tag "ate", options_from_collection_for_select(@surveys.limit(Survey.count), "number_survey", "number_survey"), class: 'radius large-9', prompt: "Até" %>
    </div>
    <div class="large-1 divider columns"></div>
    <div class="large-4 small-8 medium-4 columns">
      <%= text_field_tag "search", params[:search] ,placeholder: "Buscar Questionários ou pesquisadores", class: "radius", data: {type: "event"} %>
    </div>
    <div class="large-1 divider columns"></div>
    <div class="large-2 small-4 medium-3 columns end">
      <select class="radius" name="sort" id="sortable">
        <option value="">Ordenar por</option>
        <option value="updated_at">Data</option>
        <option value="number_survey">Identificador</option>
      </select>
    </div>
  <% end %>
</div>

<table class="large-12">
  <thead>
    <tr>
      <th>Identificador</th>
      <th class="hide-for-small">Pesquisador</th>
      <th class="hide-for-small">Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="content">
    <%= render @surveys %>
  </tbody>
</table>

<% if !@surveys.empty? %>
  <%= paginate @surveys, remote: true %>
<% end %>

