

<div class="large-12 columns content">
  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to 'QUESTIONÁRIOS', admin_event_researches_path%></li>
  </ul>
  <div class="large-4 columns">
    <h3>Questionário</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Novo Questionário', new_admin_event_research_survey_path, :class => "button tiny" %>
  </div>
  
  <p id="notice"><%= notice %></p>
  
  <% @survey.survey_identifiers.each do |sid| %>
    <p>
      <strong><%= sid.identifier.name.humanize %>: </strong>
      <%= sid.value %>
    </p>
  <% end %>

  <%= link_to 'Edit', edit_admin_event_research_survey_path(@event, @research, @survey), :class => "button tiny" %> |
  <%= link_to 'Back', admin_event_research_surveys_path, :class => "button tiny" %>

</div>
