<label>Pesquisadores</label>
<%= collection_select(:survey_participants, :participant, @users, :id, :name, {selected: @participant.nil? ? "" : @participant.id}) %>		

<fieldset>
	<legend>Questionários</legend>
	<div class="large-6 columns">
		<label for="">Início</label>
		<%= select_tag "survey_participants[surveys_start]", options_from_collection_for_select(@surveys, :number_survey, :number_survey, @surveys.where(participant_id: @participant).first.number_survey)%>
	</div>
	<div class="large-6 columns">
		<label for="">Fim</label>
		<%= select_tag "survey_participants[surveys_end]", options_from_collection_for_select(@surveys, :number_survey, :number_survey, @surveys.where(participant_id: @participant).last.number_survey)%>
	</div>
</fieldset>

<div class="row">
  <div class="large-6 small-6 medium-6 columns">
    <%= link_to 'Cancelar', admin_event_research_survey_participants_path, class: "button hollow radius alert" %>
  </div>
  <div class="large-6 small-6 medium-6 	columns text-right">
    <%= submit_tag "Salvar", class: "button hollow radius" %>
  </div>
</div>