<% @participants.each do |participant| %>
	<tr>
	  <td><%= participant.name %></td>
	  <td><%= participant.total_survey %></td>
	  <td>
	  	<%= link_to edit_admin_event_research_survey_participant_path(@event, @research, participant.participant_id) do%>
    		<span class="icon-edit radius" data-tooltip aria-haspopup="true" title="Editar"></span>
    	<% end %>
	  </td>
	  <td>
	  	<%= link_to admin_event_research_survey_participant_path(@event, @research, participant.participant_id), method: :delete, data: { confirm: 'Tem certeza que desejar excluir?' } do %>
    		<span class="icon-cancel radius" data-tooltip aria-haspopup="true" title="Excluir"></span>
    	<% end %>
	  </td>
	</tr>
<% end %>