
  <div class="row header">
    <div class="large-4 columns end ">
      <span class="icon-calendar"></span>
      <h6>Editar Pesquisador: <em><%= @participant.name %> </em></h6>  
    </div>
  </div>
  <hr>
	
	<div class="row form">
  	<div class="large-12 columns end">
			<%= form_tag admin_event_research_survey_participant_path(@event, @research, @participant), method: :patch do %>
				<%= render 'form' %>
			<% end %>
		</div>
	</div>