
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% if key == 'error'%>
          <div data-alert class="alert-box alert">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  
    <div class="row header">
      <div class="large-4 small-6 medium-6 columns">
        <span class="icon-paper"></span>
        <h6>Pesquisadores</h6>  
      </div>
      <div class="large-8 small-6 medium-6 columns text-right">
        <%= link_to 'Inserir Pesquisador', new_admin_event_research_survey_participant_path, :class => "button tiny hollow radius icon-plus" %>
      </div>  
    </div>
    
    <div class="row search">
      <%= form_tag admin_event_research_survey_participants_path, method: "get", id: "searchable" do %>
        <div class="large-4 medium-6 columns">
          <%= text_field_tag "search", params[:search] ,placeholder: "Buscar Pesquisadores", class: "radius", data: {type: "event"} %>
        </div>
      <% end %>
    </div>

    <table class="large-12">
      <thead>
        <tr>
          <th>Pesquisador</th>
          <th>Total de Questionários</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody id="content">
        <%= render "participant", locals: {participants: @participants} %>
      </tbody>
    </table>

