$("#content").html("<%= escape_javascript(render 'participant', locals: {participants: @participants}) %>");
$('#paginator').html('<%= escape_javascript(paginate(@participants, :remote => true)) %>');