

<div class="large-12 columns content">
  <ul class="breadcrumbs">
    <li><%= link_to 'HOME', admin_root_path%></li>
    <li><%= link_to 'EVENTOS', admin_events_path %></li>
    <li><%= link_to 'PESQUISAS', admin_event_researches_path%></li>
  </ul>
  <div class="large-4 columns">
    <h3>Participante: <b><%= @participant.name %></b></h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Back', admin_event_research_survey_participants_path, class: "button tiny"%>
    <%= link_to 'Editar Participante', edit_admin_event_research_survey_participant_path(@event, @research, @participant.id), :class => "button tiny" %>
  </div>
  
  <p id="notice"><%= notice %></p>
  
  <table>
    <thead>
      <tr>
        <th>Questionários</th>
      </tr>
    </thead>

    <tbody>
      <% @survey.each do |survey| %>
        <tr>
          <td><%= survey.number_survey %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
