<div class="large-3 large-centered columns wrapper login">
	<h4>Resend confirmation instructions</h4>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div>
		  <%= f.label :email %>
		  <%= f.email_field :email, autofocus: true %>
		</div>

	  <div>
	  	<%= f.submit "Resend confirmation instructions", :class => "large-12 button" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>