$green-1: #1E824C;
$green-2: #3fc380;
$green-3: #91e2b4;
$green-4: #E6F7ED;

$gray: #dddddd;
$gray-1: #6c7a89;
$gray-2: #ecf0f1;
$gray-3: #F9F9F9;
$gray-4: #A0A0A0;

$black: #000000;
$white: #ffffff;
$blue: #446CB3;
$red: #F62459;
$yellow: #F9BF3B;
$orange: #EB974E;

$font-family: "Oxygen", sans-serif;