h1,h2,h3,h4,h5,h6,p,a,label{
	font-family: $font-family;	
}

a{
	color: $blue;
}

body{
	background: url('<%= asset_path("congruent_pentagon.png")%>');
}

table{
	border: none;
	width: 100%;
	thead{
		background-color: $gray-3;
		tr{
			th{
				padding: 0.3rem 1rem;
				font-size: 0.65rem;
				color: $gray-1;
				opacity: 0.7;
			}
			td{
				text-align: center;
			}
		}
	}

	tbody{
		tr{
			vertical-align: middle;
			td{
				padding-left: 1rem;
				padding-right: 1rem;
				color: $gray-1;
				font-size: 0.95rem;
				a{
					font-size: 0.95rem;
						span{
							display: block;
							margin-top: 0.2em;
							font-size: 0.6rem;
						}
						.icon-chart-pie{
							font-size: 1.3rem;
							color: $blue;
						}
						.icon-edit{
							font-size: 0.9rem;
							color: $yellow;
						}
						.icon-cancel{
							font-size: 0.9rem;
							color: $red;
						}
						.icon-vpn-key{
							font-size: 1.1rem;
							color: $black;
						}
						.icon-question{
							font-size: 1.1rem;
							color: $green-1;
						}
						.icon-paper{
							font-size: 1rem;
							color: $orange;
						}
						.icon-icon_48585{
							font-size: 1.1rem;
						}
						.icon-clipboard{
							font-size: 0.9rem;
						}
						.icon-presentation{
							font-size: 0.9rem;
						}
				}
				&.icon{
					width: 5%;
				}
			}
			span{
				display: block;
				margin-top: 0.2em;
				font-size: 0.6rem;
			}
			ul{
				li{
					list-style-type: circle;
					font-size: 0.85rem;
				}
			}
			&:hover{
				background-color: $green-4;
				td{
					a:hover{
						font-weight: bold;
					}
				}
			}
		}
	}
}

table.lista{
	span{
		display: block;
		margin-top: 0.2em;
		font-size: 0.6rem;
		label{
			line-height: 1.5;
			font-size: 0.8rem;
		}
	}
}

input[type="radio"], input[type="checkbox"]{
	margin: 0 0.3rem 1rem 0;
}

input[type="text"], input[type="email"], input[type="password"], select{
	border-radius: 7px;
	border-color: $gray;
}