.full-width{
	max-width: 100%;
}

.radius{
	border-radius: 7px;
}

.wrapper{
	padding: 1rem;
	background-color: $white;
	box-shadow: 0px 0px 10px $gray-2;
	border-radius: 5px;
	margin-top: 1rem;
	margin-bottom: 4rem;
}

.button{
	font-family: $font-family;
	background-color: $green-2;
	color: $white;
	margin: 0;
	padding: 0.7rem 1rem;
	font-size: 0.8rem;
	@include transition-general;

	&:hover, &:focus{
		background-color: $green-1;
	}	

	&.radius{
		border-radius: 7px;
	}

	&::before{
			margin-right: 0.4rem;
			font-size: 0.9rem;
			vertical-align: text-top;
	}

	&.hollow{
		border: 1px solid $green-1;
		background: transparent;
		color: $green-1;
		&:hover, &:focus{
			background: $green-2;
			color: $white;
			border-color: $green-2;
		}

		&.alert{
			border: 1px solid $red;
			color: $red;
			&:hover, &:focus{
				background: $red;
				color: $white;
				border-color: $red;
			}
		}

		&.care{
			border: 1px solid $gray-1;
			color: $gray-1;
			&:hover{
				background-color: $gray-1;
				color: $white;
				border-color: $gray-1;
			}
		}
	}

	&.tiny.hollow{
		padding-top: 0.5rem;
		padding-right: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 0.5rem;
		font-size: 0.7rem;
	}
}

.tooltip{
	background: $green-2;
	.nub{
		border-color: transparent transparent $green-2 transparent;
	}
}

ul.pagination{
	li{
		&.current{
			a{
				background: $green-2;	
				color: $white;
				&:hover{				
					background: $gray-2;
					color: $black;
				}
			}
		}
		a{
			color: $green-1;
			&:hover{
				background: $gray-2;
				color: $black;
			}
		}
	}
}

.progress{
	background-color: transparent;
	height: 1.8rem;
	border: 1px solid $gray;
	padding: 0;
	margin-bottom: 0.625rem;
	border-radius: 0.5rem;
	.meter{
		background: $green-2;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
}

ul.breadcrumbs{
	background-color: transparent;
	border: none;
	padding: 0 0 0.8rem;
	margin-bottom: 0;
	> *{
		color: $gray-1;
		text-transform: capitalize;
		font-size: 0.8rem;
		letter-spacing: 0.01rem;
		line-height: 1.6;
		&::before{
			content: ">";
			color: $gray;
			margin: 0 0.3rem;
		}
	}

	> * a{
		color: $gray-4;
		&:hover{
			font-weight: bold;
		}
	}
}

hr{
	margin: 0.5rem 0 1rem 0;
}

.alert-box{
	display: none;
	font-size: 0.9rem;
  position: absolute;
  width: 37em;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1000000;
	&.info{
		background-color: #90C6DB;
		color: $white;
	}
	&.success{
		background-color: $green-2;
		border-color: $green-2;
	}
}

#dicas{
	border-radius: 10px;
	padding: 1rem;
	letter-spacing: 1px;
	.close-reveal-modal{
		top: 0;
		right: 0;
		position: relative;
		font-size: 1rem;
	}
	h5, h5 span{
		color: $green-2;
	}
	span{
		color: $red;
	}

	img{
		color: $green-1;
	}
}

@media only screen and (max-width: 40em) {
	.wrapper{
		padding: 0.5rem;
		margin-bottom: 1rem;
	}
}