@media print{
	@page :first{
	 margin: 0.5cm;
	}
	@page{
		margin: 1cm 0.5cm;
	}
	.wrapper{
		margin: 0;
		h5{
			font-size: 1.5rem;
			font-weight: bold;
			margin-bottom: 2cm;
			letter-spacing: 0.1rem;
		}
	}
	.menu, .toolbox, .breadcrumbs, hr{
		display: none;
	}
	
	.report{
		fieldset{
			border: none;
	
			legend{
				text-align: left;
				font-size: 1.3rem;
				margin-bottom: 1cm;
			}
	
			div[id^="question_id"].page-break, div[id^="question_id"]{
				display: block;
				page-break-after: avoid;
				page-break-inside: avoid;
				div[id^="chart"]{
					//margin-top: -1.5cm;
					div{
						position: relative !important;
						display: block;
					}
				}

				iframe{
					display: block;
				}

				svg{
					g, rect{
						display: block;
					}
				}
			}

		}

	}

}