<% if @question.id? %>
  <%= form_for [:admin, @event, @research, @group, @question_father, @question], url:admin_event_research_group_question_question_list_path do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= label_tag :title %><br>
      <%= text_field_tag "question_lists[title]", @question.title %>
    </div>
    <div class="field">
      <%= label_tag :type_question %><br>
      <%= select_tag "question_lists[type_question]", options_for_select(Question.type_questions.keys.reject {|type_question| type_question == "lista"}.collect{|type_question| [type_question.titleize,type_question]}, @question.type_question) %>
    </div>
    
    <div class="actions">
      <%= submit_tag "Salvar", class: "button success" %>
    </div>
  <% end %>
<% else %>
  <%= form_tag admin_event_research_group_question_question_lists_path do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= label_tag :title %><br>
      <%= text_field_tag "question_lists[title]", @question.title %>
    </div>
    <div class="field">
      <%= label_tag :type_question %><br>
      <%= select_tag "question_lists[type_question]", options_for_select(Question.type_questions.keys.reject {|type_question| type_question == "lista"}.collect{|type_question| [type_question.titleize,type_question]}, @question.type_question) %>
    </div>
    
    <div class="actions">
      <%= submit_tag "Salvar", class: "button success" %>
    </div>
  <% end %>
<% end %>