

<div class="large-12 columns content">
  
  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to @group.title, admin_event_research_groups_path%></li>
    <li><%= link_to @question_father.title, admin_event_research_group_questions_path%></li>
    <li><%= link_to "Perguntas", admin_event_research_group_question_question_lists_path%></li>
  </ul>

  <div class="large-4 columns">
    <h3>Pergunta: <%= @question_father.title.humanize %></h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Pergunta', new_admin_event_research_group_question_question_list_path, :class => "button tiny" %>
  </div>
  
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>Pergunta</th>
          <th>Tipo de pergunta</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.title %></td>
            <td><%= question.type_question %></td>
            <% if !question.type_question.eql?("lista") %>
              <td><%= link_to "Ver Alternativas", admin_event_research_group_question_question_list_alternatives_path(@event, @research, @group, @question_father, question) %></td>
              <td><%= link_to "Nova Alternativa", new_admin_event_research_group_question_question_list_alternative_path(@event, @research, @group, @question_father, question) %></td>
              <td><%= link_to "Editar", edit_admin_event_research_group_question_question_list_path(@event, @research, @group, @question_father, question)%></td>
              <td><%= link_to 'Destroy', admin_event_research_group_question_question_list_path(@event, @research, @group, @question_father, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td><%= link_to 'Ver Perguntas', admin_event_research_group_question_question_lists_path(@event, @research, @group, question)%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>