

<div class="large-12 columns content">

  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to @group.title, admin_event_research_groups_path%></li>
    <li><%= link_to @question_father.title, admin_event_research_group_questions_path%></li>
    <li><%= link_to "Perguntas", admin_event_research_group_question_question_lists_path%></li>
  </ul>

  <div class="large-4 columns">
    <h3>Pergunta</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Pergunta', new_admin_event_research_group_question_question_list_path, :class => "button tiny" %>
  </div>
  
  <div class="large-12 columns">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Title:</strong>
	  <%= @question.title %>
	</p>

	<p>
	  <strong>Type question:</strong>
	  <%= @question.type_question %>
	</p>
	
	<p>
	  <strong>Group:</strong>
	  <%= @question.group.title %>
	</p>

	<%= link_to 'Edit', edit_admin_event_research_group_question_question_list_path(@event, @research, @group, @question_father, @question), :class => "button tiny" %> |
	<%= link_to 'Back', admin_event_research_group_question_question_lists_path, :class => "button tiny" %>
  </div>
</div>
