<tr>
  <td>
    <%= link_to admin_event_researches_path(event) do %>
    <%= event.title.humanize%>
    <span><%= l event.created_at.to_date, format: :long %></span>
    <% end %>
  </td>
  <% # if can? :report, event %>
  <!-- <td class="icon"> -->
    <% # link_to admin_event_report_path(event) do %>
    <!-- <span class="icon-chart-pie radius" data-tooltip aria-haspopup="true" title="Relatório"></span> -->
    <% #end %>
  <!-- </td>  -->
  <% # end %>
  <% if can? :edit, event %>
  <td class="icon">
    <%= link_to edit_admin_event_path(event) do %>
    <span class="icon-edit radius" data-tooltip aria-haspopup="true" title="Editar"></span>
    <% end %>
  </td>
  <% end %>
  <% if can? :destroy, event %>
  <td class="icon">
    <%= link_to admin_event_path(event), class: "sweet", data: {text: "Tem certeza que deseja excluir o evento: #{event.title} ?", title: "Excluir", id: event.id } do %>
    <span class="icon-cancel radius"></span>
    <% end %>
  </td>
  <% end %>
</tr>
