<div class="row form">
  <div class="large-12 columns end">
    <%= simple_form_for([:admin, @event]) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :title, label: "Título", wrapper_html: {class: "large-6"} %>
        <%= f.input :description, label: "Descrição", wrapper_html: {class: "large-6"}  %>
        <% if @event.blank?%>
          <%= f.input :status, collection: Event.statuses.map {|status| [status[0].humanize, status[0]]}, include_blank: false, selected: lambda { |v| v[0].eql? @event.status.humanize},  wrapper_html: {class: "large-3"}  %>
        <% else %>
          <%= f.input :status, collection: Event.statuses.map {|status| [status[0].humanize, status[0]]}, include_blank: false,  wrapper_html: {class: "large-3"}  %>
        <% end %>
      </div>
      
      <div class="row">
        <div class="large-3 small-6 medium-6 columns">
          <%= link_to 'Cancelar', admin_events_path, class: "button hollow radius alert" %>
        </div>
        <div class="large-3 small-6 medium-6 columns text-right end">
          <%= f.submit "Salvar", class: "button hollow radius" %>
        </div>
      </div>
    <% end %>
  </div>
</div>