

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.load('visualization', '1.0', {'packages':['corechart']});
</script>

<div class="large-12 columns event">
	<br>
	<h4>Relatório de <%= @event.title %></h4>
	<hr>

	<div class="large-12 large-centered loading columns">
		<h6 class="text-center"><b>Carregado...</b></h6>
		<div id="loadingProgressG" class="large-12 columns large-centered">
			<div id="loadingProgressG_1" class="loadingProgressG"></div>
		</div>
	</div>

	<div class="large-12 columns">		
		<% @event.researches.each{|research| %>
			<div class="panel report hide" research="<%= research.id %>">
				<h4><%= research.title %></h4>
				<hr>
				<% research.groups.sort.each { |group| %>
		    <fieldset>
		      <legend><%= group.title%></legend>
		      <% group.questions.where("type_question <> 0").sort.each { |question| %>
		          <% case question.type_question  
		           when "unica_escolha" %>
		            <div id="question_id_<%= question.id %>">
		              <h6><%= question.title %></h6>
		            </div>
		            <br>
		          <% when "multipla_escolha" %>
		            <div id="question_id_<%= question.id %>">
		              <h6><%= question.title %></h6>
		            </div>
		            <br>
		          <% end %>
		      <% } %>
		    </fieldset>
		  	<% } %>
	  	</div>
  	<% } %>
	</div>
</div>