

<div class="large-12 columns content">
  <ul class="breadcrumbs">
    <li><%= link_to 'EVENTOS', admin_events_path %></li>
  </ul>
  <div class="large-4 columns">
    <h3>Visualizar Evento</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Novo Evento', new_admin_event_path, :class => "button tiny" %>
  </div>
  
  <div class="large-12 columns">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @event.status.humanize %>
  </p>

  <p>
    <strong>Author:</strong>
   <%= @event.author_id %>
  </p>

  </div>

  <%= link_to 'Edit', edit_admin_event_path(@event), class: "button tiny info" %> |
  <%= link_to 'Back', admin_events_path, class: "button tiny info" %>
</div>
