<%= form_for([:admin, @event, @research, @group, @question, @alternative]) do |f| %>
  <% if @alternative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alternative.errors.count, "error") %> prohibited this alternative from being saved:</h2>

      <ul>
      <% @alternative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.check_box :as_other %>
    <%= f.label "Outro(a)" %>    
  </div>
  <%= f.hidden_field :question_id, value: @question.id %>
  <div class="actions">
    <%= f.submit "Criar", class: "button success"  %>
  </div>
<% end %>