

<div class="large-12 columns content">

  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to @group.title, admin_event_research_groups_path%></li>
    <li><%= link_to @question.title, admin_event_research_group_questions_path%></li>
    <li><%= link_to 'Alternativas', admin_event_research_group_question_alternatives_path%></li>
  </ul>

  <div class="large-4 columns">
    <h3>Alternativas</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Alternativa',  new_admin_event_research_group_question_alternative_path, :class => "button tiny" %>
  </div>
  
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>Alternativas</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @alternatives.each do |alternative| %>
          <tr>
            <td><%= alternative.title %></td>
            <td><%= link_to 'Show', admin_event_research_group_question_alternative_path(@event, @research, @group, @question, alternative) %></td>
            <td><%= link_to 'Edit', edit_admin_event_research_group_question_alternative_path(@event, @research, @group, @question, alternative) %></td>
            <td><%= link_to 'Destroy', admin_event_research_group_question_alternative_path(@event, @research, @group, @question, alternative), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>