

<div class="large-12 columns content">
  <div class="large-4 columns">
    <h3>Nova Alternativa</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Alternativa', new_admin_event_research_group_question_alternative_path, :class => "button tiny" %>
  </div>

	<%= render 'form' %>

	<%= link_to 'Back', admin_event_research_group_question_alternatives_path, :class => "button tiny"  %>
</div>