

<div class="large-12 columns content">
  
  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to @group.title, admin_event_research_groups_path%></li>
    <li><%= link_to @question.title, admin_event_research_group_questions_path%></li>
    <li><%= link_to 'Alternativas', admin_event_research_group_question_alternatives_path%></li>
  </ul>

  <div class="large-4 columns">
    <h3>Nova Alternativa</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Alternativa', new_admin_event_research_group_question_alternative_path, :class => "button tiny" %>
  </div>
  
  <div class="large-12 colums">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Title:</strong>
	  <%= @alternative.title %>
	</p>

	<p>
	  <strong>Question:</strong>
	  <%= @alternative.question.title %>
	</p>

	<%= link_to 'Edit', edit_admin_event_research_group_question_alternative_path(@event, @research, @group, @question, @alternative), :class => "button tiny" %> |
	<%= link_to 'Back', admin_event_research_group_question_alternatives_path, :class => "button tiny" %>

  </div>
</div>