<div class="large-3 large-centered columns wrapper login">
	<h4>Resend unlock instructions</h4>

	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div>
	  	<%= f.label :email %>
	  	<%= f.email_field :email, autofocus: true %>
	  </div>

	  <div>
	  	<%= f.submit "Reenviar email de desbloqueio", :class => "large-12 button" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>