<%= form_tag import_admin_event_research_surveys_path, action: 'upload', multipart: true do %>
	
	<% if @errors %>
		<div data-alert class="alert-box alert radius">
			<p>Identificador(s) não cadastrado(s):</p>
			<ul>
				<% @errors.each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
			<a href="#" class="close">&times;</a>	
		</div>
	<% else %>
		<div data-alert class="alert-box info radius">
		  <b>Antes de importar verifique: </b> 
		  <ul>
		  	<li>Tipo de arquivo deve ser em <a href="http://pt.wikipedia.org/wiki/Comma-separated_values">CSV</a></li>
		  	<li>Deve possuir cabeçalho com o nome dos identificadores</li>
		  </ul>
		  <a href="#" class="close">&times;</a>
		</div>
	<% end %>

	<fieldset>
		<legend>Arquivo</legend>
		<%= file_field_tag :file %>
	</fieldset>

	<div class="row">
		<div class="large-12 columns text-right">
		<%= submit_tag 'Importar', class: "button hollow radius" %>
		</div>
	</div>
<% end %>