
  <div class="large-12">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% if key == 'error'%>
          <div data-alert class="alert-box alert">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  
    <div class="row header">
      <div class="large-4 columns">
        <span class="icon-paper"></span>
        <h6>Importar Questionários</h6>  
      </div>
    </div>
    <hr>
    <%= render 'form' %>

  </div>
