<div class="large-3 large-centered columns wrapper login">
	<h4>Change your password</h4>
	
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <div>
	  	<%= f.label :password, "Nova senha" %>
	    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
	  </div>

	  <div>
	  	<%= f.label :password_confirmation, "Confirmar nova senha" %>
	    <%= f.password_field :password_confirmation, autocomplete: "off" %>
	  </div>

	  <div><%= f.submit "Alterar minha senha", :class => "button success"%></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
