<div class="large-3 large-centered columns wrapper login">
	<h4>Esqueceu sua senha?</h4>
	
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div>
	  	<%= f.label :email %>
	  	<%= f.email_field :email, autofocus: true %>
	  </div>

	  <div>
	  	<%= f.submit "Refazer Senha", :class => 'button large-12' %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
