@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?5xhqh8');
	src:url('fonts/icomoon.eot?#iefix5xhqh8') format('embedded-opentype'),
		url('fonts/icomoon.woff?5xhqh8') format('woff'),
		url('fonts/icomoon.ttf?5xhqh8') format('truetype'),
		url('fonts/icomoon.svg?5xhqh8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-drop-down:before {
	content: "\e600";
}
.icon-calendar:before {
	content: "\e601";
}
.icon-cancel:before {
	content: "\e602";
}
.icon-chart-pie:before {
	content: "\e603";
}
.icon-clipboard:before {
	content: "\e604";
}
.icon-edit:before {
	content: "\e605";
}
.icon-icon_48585:before {
	content: "\e606";
}
.icon-keyboard-arrow-down:before {
	content: "\e607";
}
.icon-login:before {
	content: "\e608";
}
.icon-paper:before {
	content: "\e609";
}
.icon-plus:before {
	content: "\e60a";
}
.icon-presentation:before {
	content: "\e60b";
}
.icon-publish:before {
	content: "\e60c";
}
.icon-question:before {
	content: "\e60d";
}
.icon-search:before {
	content: "\e60e";
}
.icon-tab:before {
	content: "\e60f";
}
.icon-trash:before {
	content: "\e610";
}
.icon-user:before {
	content: "\e611";
}
.icon-users:before {
	content: "\e612";
}
.icon-vpn-key:before {
	content: "\e613";
}
