<div class="large-4 large-centered small-10 medium-6 medil-centered small-centered columns wrapper login text-center">
	<h4 class="text-center">Gerenciador de Pesquisas</h4>
	<br><br>
	<%= link_to "Acessar", admin_events_path, :class => "button large-6 small-6 "%>
</div>