<% if @alternative.id? %>
    <%= form_for [:admin, @event, @research, @group, @question_father, @question, @alternative], url: admin_event_research_group_question_question_list_alternative_path do |f| %>
      <% if @alternative.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@alternative.errors.count, "error") %> prohibited this alternative from being saved:</h2>

          <ul>
          <% @alternative.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <%= f.hidden_field :question_id, value: @question.id %>
      <div class="actions">
        <%= f.submit "Criar", class: "button success"  %>
      </div>
    <% end %>
<% else %>
    <%= form_tag admin_event_research_group_question_question_list_alternatives_path do |f| %>
      <% if @alternative.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@alternative.errors.count, "error") %> prohibited this alternative from being saved:</h2>

          <ul>
          <% @alternative.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= label_tag :title %><br>
        <%= text_field_tag "alternative[title]" %>
      </div>
      <div class="field">
        <%= check_box_tag "alternative[as_other]" %>
        <%= label_tag "Outro(a)" %>    
      </div>      
      <div class="actions">
        <%= submit_tag "Criar", class: "button success"  %>
      </div>
    <% end %>
<% end %>