

<div class="large-12 columns content">

  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to @group.title, admin_event_research_groups_path%></li>
    <li><%= link_to @question_father.title, admin_event_research_group_questions_path%></li>
    <li><%= link_to @question.title, admin_event_research_group_questions_path%></li>
    <li><%= link_to 'Alternativas', admin_event_research_group_question_question_list_alternatives_path%></li>
  </ul>

  <div class="large-4 columns">
    <h3>Editar Alternativa</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Alternativa', new_admin_event_research_group_question_question_list_alternative_path, :class => "button tiny" %>
  </div>

	<%= render 'form' %>

	<%= link_to 'Show', admin_event_research_group_question_question_list_alternative_path(@event, @research, @group, @question_father, @question, @alternative), :class => "button tiny" %> |
	<%= link_to 'Back', admin_event_research_group_question_question_list_alternatives_path, :class => "button tiny" %>

</div>