<div class="row form">
  <div class="large-12 columns end">
    <%= simple_form_for([:admin, @event, @research, @identifier]) do |f| %>
      <%= f.error_notification %>
    	
      <%= f.association :researches, as: :hidden, input_html: {value: @research.id} %>	
    	
      <%= f.input :name, label: "Nome", input_html: {value: unless @identifier.name.nil? then @identifier.name.humanize end }, wrapper_html: {class: "large-6"} %>

      <div class="row">
        <div class="large-3 small-6 medium-6 columns">
          <%= link_to 'Cancelar', admin_event_research_identifiers_path, class: "button hollow radius alert" %>
        </div>
        <div class="large-3 small-6 medium-6 columns text-right end">
          <%= f.submit "Salvar", class: "button hollow radius" %>
        </div>
      </div>
    <% end %>
  </div>
</div>