<tr>
  <td><%= identifier.name.humanize %></td>
  <td>
  	<%= link_to edit_admin_event_research_identifier_path(@event, @research, identifier) do %>
  		<span class="icon-edit radius" data-tooltip aria-haspopup="true" title="Editar"></span>
  	<% end %>
  </td>
  <td>
  	<%= link_to admin_event_research_identifier_path(@event, @research, identifier), class: "sweet", data: { text: "Tem certeza que deseja excluir o identificador: #{identifier.name} ?", title: "Excluir", id: identifier.id } do %>
  		<span class="icon-cancel radius"></span>
  	<% end %>
  </td>
</tr>        