    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% if key == 'error'%>
          <div data-alert class="alert-box alert">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="row collapse header">
      <div class="large-4 small-6 columns">
        <span class="icon-calendar"></span>
        <h6>Identificadores</h6>  
      </div>
      <div class="large-8 small-6 columns text-right">
        <% if can? :new, @event %>
          <%= link_to 'Criar Identificador', new_admin_event_research_identifier_path, :class => "button tiny hollow radius icon-plus" %>
        <% end %>
      </div>  
    </div>
    
    <div class="row search">
      <%= form_tag admin_event_research_identifiers_path, method: "get", id: "searchable" do %>
        <div class="large-4 columns">
          <%= text_field_tag "search", params[:search] ,placeholder: "Buscar Pesquisas", class: "radius", data: {type: "event"} %>
        </div>
      <% end %>
    </div>
    
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody id="content">
        <%= render @identifiers %>
      </tbody>
    </table>
    
