

<div class="large-12 columns content">
  
  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path%></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to "Identificadores", admin_event_research_identifiers_path %></li>
  </ul>

  <div class="large-4 columns">
    <h3>Identificador</h3>
  </div>
  <div class="large-8 columns text-right">
     <%= link_to 'Novo Identificador', new_admin_event_research_identifier_path, :class => "button tiny" %>
  </div>

  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @identifier.name.humanize %>
    </p>

    <%= link_to 'Edit', edit_admin_event_research_identifier_path(@event, @research, @identifier), :class => "button tiny" %> |
    <%= link_to 'Back', admin_event_research_identifiers_path, :class => "button tiny" %>
  </div>
</div>
