<p id="notice"><%= notice %></p>

<% if @answer.errors.any? || @survey.errors.any? %>
  <br><br>
  <div id="error_explanation">
    <h2><%= pluralize(@answer.errors.count + @survey.errors.count, "error") %> prohibited this answer from being saved:</h2>

    <ul>
    <% @answer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    <% @survey.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h6>Questionário: <%= @survey.number_survey%></h6>

<% if @survey.answers.blank? %>
  <%= form_for([:admin, @event, @research, @survey, @answer]) do |f| %>
    <% @research.groups.order("id ASC").each {|group| %>
      <fieldset>
        <legend><h5><b><%= group.title%></b></h5></legend>
        <% group.questions.where(father_id: nil).each_with_index {|question, index| %>
          <fieldset>
            <legend><h6><%= index + 1 %> - <%= question.title%></h6></legend>
            <%= f.hidden_field :question_id, name: 'answer[question_id][]',value: question.id %>

              <% case question.type_question
                  when "texto"
              %>
              <h6>TEXT</h6>
                    <% question.alternatives.each {|alternative| %>
                      <%= f.text_field :subjective, name: "answer[subjective][#{question.id}][]" %>
                    <% } %>
              <%
                  when "unica_escolha"
              %>
              <h6>UNIC</h6>
                    <%= select_tag "answer[objective][#{question.id}][]", options_for_select(question.alternatives.where("as_other is null or as_other = 0").map {|alternative| [alternative.title,alternative.id] }), :include_blank => true, class: "answer_objective"%>

                    <% question.alternatives.where(as_other: true).each do |alternative| %>
                      <%= f.label alternative.title %>
                      <%= f.text_field :objective, name: "answer[objective][#{question.id}][]", id: "answer_objective_#{question.id}", class: "answer_objective", value: '' %>
                    <% end %>
              <%
                  when "multipla_escolha"
              %>
              <h6>MULTIPLIC</h6>
                    <% question.alternatives.where("as_other is null or as_other = 0").each {|alternative| %>
                      <%= check_box_tag("answer[objective][#{question.id}][]", alternative.id) %>
                      <%= label_tag("answer[objective][#{question.id}][]", alternative.title) %>
                    <% } %>

                    <% question.alternatives.where(as_other: true).each do |alternative| %>
                      <%= f.label alternative.title %>
                      <%= f.text_field :objective, name: "answer[objective][#{question.id}][]", id: "answer_objective_#{question.id}", class: "answer_objective", value: '' %>
                    <% end %>

              <%
                  when "lista"
              %>
                    <table class="large-12">
                      <thead>
                        <tr>
                          <% group.questions.where(father_id: question.id).order(:id).each_with_index do |question_list, index| %>
                            <%= f.hidden_field :question_id, name: 'answer[question_id][]',value: question_list.id %>
                            <td><%= question_list.title %></td>
                          <% end %>
                        </tr>
                      </thead>
                      <tbody>
                        <% for quantity in 1..question.quantity %>
                          <tr>
                            <% group.questions.where(father_id: question.id).order(:id).each_with_index do |question_list, index| %>
                              <td>
                                <% case question_list.type_question 
                                    when "texto"                   
                                %>
                                    <% question_list.alternatives.each {|alternative| %>
                                      <%= f.text_field :subjective, name: "answer[subjective][#{question_list.id}][]" %>
                                    <% } %>
                                <%
                                    when "unica_escolha"
                                %>
                                    <%= select_tag "answer[objective][#{question_list.id}][#{quantity}][]", options_for_select(question_list.alternatives.where("as_other is null or as_other = false").map {|alternative| [alternative.title,alternative.id] }), :include_blank => true, class: "answer_objective"%>
                                <%
                                    when "multipla_escolha"
                                %>
                                    <% question_list.alternatives.where("as_other is null or as_other = false").each {|alternative| %>
                                      <%= check_box_tag("answer[objective][#{question_list.id}][#{quantity}][]", alternative.id) %>
                                      <%= label_tag("answer[objective][#{question_list.id}][#{quantity}][]", alternative.title) %>
                                    <% } %>
                                <% end %>
                                </td>
                            <% end %>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
              <%
                  end
              %>
              </fieldset>
          <% } %>
      </fieldset>
    <% } %>
    <div class="actions">
      <%= f.submit :class => 'button green'  %>
    </div>
  <% end %>
<% else %>
  <%= form_for([:admin, @event, @research, @survey, @answer], url: admin_event_research_survey_answers_path(@event, @research, @survey, @answer), method: :patch) do |f| %>
    <% @research.groups.order("id ASC").each {|group| %>
      <fieldset>
        <legend><%= group.title%></legend>
        <% group.questions.each { |question| %>

          <% @survey.answers.each_with_index { |answer, index| %>
                <% if answer.question_id == question.id %>
                    <% if !question.father_id? %>
                      <h6><%= question.title %></h6>
                      <%= hidden_field_tag 'answer[question_id][]', question.id %>
                    <% end %>
                  <% case [question.type_question, question.father_id]
                      when ["texto", nil]
                  %>
                    <h6>TEXT</h6>
                      <% question.alternatives.each {|alternative| %>
                        <%= text_field_tag "answer[subjective][#{question.id}][]", answer.subjective.nil? ? '' : answer.subjective %>
                      <% } %>
                  <%
                      when ["unica_escolha", nil]
                  %>
                      <h6>UNIC</h6>
                      <%= select_tag "answer[objective][#{question.id}][]", options_for_select(question.alternatives.where("as_other is null or as_other = 0").map {|alternative| [alternative.title,alternative.id]}, question.alternatives.where("as_other is null or as_other = 0").map{|alternative| answer.objective.include?(alternative.id.to_s) ? alternative.id : ''}), :include_blank => true%>

                      <% question.alternatives.where(as_other: true).each do |alternative| %>
                          <%= f.label alternative.title %>
                          <%= f.text_field :objective, name: "answer[objective][#{question.id}][]", id: "answer_objective_#{question.id}", class: "answer_objective", value: answer.objective.join().to_i > 0 ? "" : answer.objective.join() %>
                      <% end %>
                  <%
                      when ["multipla_escolha", nil]
                  %>
                      <h6>MULTIPLI</h6>
                      <% question.alternatives.where("as_other is null or as_other = 0").each {|alternative| %>
                          <% if answer.objective.include?(alternative.id.to_s) %>
                            <%= check_box_tag("answer[objective][#{question.id}][]", alternative.id, :checked => true) %>
                            <%else%>
                              <%= check_box_tag("answer[objective][#{question.id}][]", alternative.id) %>
                            <%end%>
                            <%= label_tag("answer[objective][#{question.id}][]", alternative.title) %>
                      <% } %>
                      
                      <% question.alternatives.where(as_other: true).each do |alternative| %>
                          <%= f.label alternative.title %>
                          <%= f.text_field :objective, name: "answer[objective][#{question.id}][]", id: "answer_objective_#{question.id}", class: "answer_objective", value: answer.objective.bsearch {|value| value.to_i == 0} %>
                      <% end %>

                  <% 
                      when ["lista", nil]
                  %>
                        <table class="large-12">
                          <thead>
                            <tr>
                              <% group.questions.where(father_id: question.id).order(:id).each_with_index do |question_list, index| %>

                                <%= hidden_field_tag 'answer[question_id][]', question_list.id %>

                                <td><%= question_list.title %></td>
                              <% end %>
                            </tr>
                          </thead>
                          <tbody>
                            <% for quantity in 0...question.quantity %>
                              <tr>
                                <% group.questions.where(father_id: question.id).order(:id).each_with_index do |question_list, index| %>
                                  <td>
                                    <% @survey.answers.where(question_id: question_list.id).each_with_index do |answer_alternative, index| %>
                                      <% case question_list.type_question 
                                          when "texto"                   
                                      %>
                                          <% question_list.alternatives.each {|alternative| %>
                                            <%= text_field_tag "answer[subjective][#{question_list.id}][#{quantity}][]",answer_alternative.subjective.nil? ? '' : answer_alternative.subjective.gsub(/[{}\d"=>\[\]]/, '').split(',')[quantity] %>
                                          <% } %>
                                      <%
                                          when "unica_escolha"
                                      %>
                                          <%= select_tag "answer[objective][#{question_list.id}][#{quantity}][]", options_for_select(question_list.alternatives.where("as_other is null or as_other = false").map {|alternative| [alternative.title,alternative.id]}, question_list.alternatives.where("as_other is null or as_other = false").map{|alternative| if !answer_alternative.objective.empty? then answer_alternative.objective[quantity][1].include?(alternative.id.to_s) ? alternative.id : '' end}), :include_blank => true %>
                                      <% end %>
                                      <% end %>
                                    </td>
                                <% end %>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                  <%
                      end
                  %>
                <% end %>
          <% } %>
        <% } %>
      </fieldset>
    <% } %>
    <div class="actions">
      <%= f.submit :class => 'button green'  %>
    </div>
  <% end %>
<% end %>