<%= simple_form_for([:admin, @event, @research, @survey], url: admin_event_research_survey_answers_path) do |f| %>
  <%= f.error_notification %>
  
  <dl class="tabs" data-tab>
    <% letter = ("A".."Z").to_a %>
    <% @research.groups.sort.each_with_index { |group, index| %>
      
      <dd class="<%= index == 0 ? "active" : "" %>">
        <a href="#group<%= index %>" id="group<%= index %>"><%= index + 1 %></a>
      </dd>
    <% } %>  
  </dl>
  
  <div class="tabs-content">
    <% @research.groups.sort.each_with_index do |group, index|%>	
      <div class="content <%= index == 0 ? "active" : "" %>" id="group<%= index %>">
        <h4><strong><%= group.title%></strong></h4>
        <hr>
        <% group.questions.where(father_id: nil).sort.each do |question| %>          
          <% case question.type_question  
            when "texto" %>
              <h5><%= question.title %></h5>
              <%= f.input :id, as: :hidden, input_html: {name: "question[#{question.id}][alternative]", value: question.alternatives.ids.join()}, wrapper: false %>
              <%= f.input :id, label: false, as: :string, input_html: {name: "question[#{question.id}][value]", value: @survey.answers.where(question: question).pluck(:value).join()}, wrapper: false %>

          <% when "unica_escolha" %>
            <h5><%= question.title %></h5>
            <%= f.input :id, as: :radio_buttons, collection: question.alternatives.where("as_other = 0 or as_other is null").sort, label: false, checked: @survey.answers.where(question: question).pluck(:alternative_id), input_html: {name: "question[#{question.id}][alternative]"}, wrapper: false %>

            <% if question.alternatives.exists?(as_other: 1) %>
              <%= f.input :id, as: :radio_buttons, collection: question.alternatives.where(as_other: 1).sort, label: false, checked: @survey.answers.where(question: question).pluck(:alternative_id), input_html: {name: "question[#{question.id}][alternative]", class: "as_other"}, wrapper: false %>
              <%= f.input :id, as: :string, label: false, input_html: {name: "question[#{question.id}][value]", value: @survey.answers.where(question: question).pluck(:value).join()}, wrapper: false %>
            <% end %>

          <% when "multipla_escolha" %>
            <h5><%= question.title %></h5>
            <%= f.input :id, as: :check_boxes, collection: question.alternatives.where("as_other = 0 or as_other is null").sort, label: false, checked: @survey.answers.where(question: question).where(question: question).pluck(:alternative_id), input_html: {name: "question[#{question.id}][alternative][]"}, wrapper: false%>

            <% if question.alternatives.exists?(as_other: 1) %>
            
              <%= f.input :id, as: :check_boxes, collection: question.alternatives.where(as_other: 1).sort, label: false, checked: @survey.answers.where(question: question).pluck(:alternative_id), input_html: {name: "question[#{question.id}][alternative][]", class: "as_other"}, wrapper: false%>
              <%= f.input :id, as: :string, label: false, input_html: {name: "question[#{question.id}][value]", value: @survey.answers.where(question: question).pluck(:value).join()}, wrapper: false %>
            <% end %>            
          <% when "lista" %>
            <h5><%= question.title %></h5>
              <table class="lista large-12">
                <thead>
                  <tr>
                    <% list_count = group.questions.where(father_id: question.id).count %>
                    <% group.questions.where(father_id: question.id).sort.each do |q| %>
                      <td><%= q.title%></td>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% count_index = 0 %>
                  <% id = 0 %>
                  <% qs = group.questions.where(father_id: question.id).ids %>
                  <% if !Answer.where(question_id: qs, survey_id: @survey.id).any? %>
                    <tr>
                      <% group.questions.where(father_id: question.id).sort.each_with_index do |q, index_q| %>
                        <td>
                        <% case q.type_question  
                          when "texto" %>
                          <%= f.input :id, as: :hidden, input_html: {name: "question[#{q.id}][#{count_index}][alternative]", value: question.alternatives.ids.join(), data: {group: group.id, question: q.id, count: count_index}}, wrapper: false %>

                          <%= f.input :id, label: false, as: :string, input_html: {name: "question[#{q.id}][#{count_index}][value]", value: @survey.answers.where(question: q).pluck(:value).join(), data: {group: group.id, question: q.id, count: count_index}}, wrapper: false %>

                        <% when "unica_escolha" %>
                          <div class="alternatives">
                            <%= f.input :id, as: :radio_buttons, collection: q.alternatives.where("as_other = 0 or as_other is null").sort, label: false, checked: @survey.answers.where(question: q).pluck(:alternative_id), input_html: {name: "question[#{q.id}][#{count_index}][alternative]", data: {group: group.id, question: q.id, count: count_index}}, wrapper: false %>

                            <% if q.alternatives.exists?(as_other: 1) %>
                              <%= f.input :id, as: :radio_buttons, collection: q.alternatives.where(as_other: 1).sort, label: false, checked: @survey.answers.where(question: q).pluck(:alternative_id), input_html: {name: "question[#{q.id}][#{count_index}][alternative]", class: "as_other", data: {group: group.id, question: q.id, count: count_index}}, wrapper: false %>
                              <%= f.input :id, as: :string, label: false, input_html: {name: "question[#{q.id}][#{count_index}][value]", value: @survey.answers.where(question: q).pluck(:value).join(), data: {group: group.id, question: q.id, count: count_index}}, wrapper: false %>
                            <% end %>
                          </div>
                          <% when "multipla_escolha" %>                        
                            <div class="alternatives">          
                              <%= f.input :id, as: :check_boxes, collection: q.alternatives.where("as_other = 0 or as_other is null").sort, label: false, checked: @survey.answers.where(question: q).pluck(:alternative_id), input_html: {name: "question[#{q.id}][#{count_index}][alternative][]", data: {group: group.id, question: q.id, count: count_index}}, wrapper: false%>
                              <% if q.alternatives.exists?(as_other: 1) %>
                                <%= f.input :id, as: :check_boxes, collection: q.alternatives.where(as_other: 1).sort, label: false, checked: @survey.answers.where(question: q).pluck(:alternative_id), input_html: {name: "question[#{q.id}][#{count_index}][alternative][]", class: "as_other", data: {group: group.id, question: q.id, count: count_index}}, wrapper: false%>
                                <%= f.input :id, as: :string, label: false, input_html: {name: "question[#{q.id}][#{count_index}][value]", value: @survey.answers.where(question: q).pluck(:value).join(), data: {group: group.id, question: q.id, count: count_index}}, wrapper: false %>
                              <% end %>
                            </div>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% else %>
                    <% Answer.where(question_id: qs, survey_id: @survey.id).pluck(:order).sort.uniq.each do |order| %>
                      <tr>
                        <% group.questions.where(father_id: question.id).sort.each_with_index do |q, index_q| %>
                          <td>
                          <% case q.type_question  
                            when "texto" %>
                            <%= f.input :id, as: :hidden, input_html: {name: "question[#{q.id}][#{order}][alternative]", value: question.alternatives.ids.join(), data: {group: group.id, question: q.id, count: order}}, wrapper: false %>

                            <%= f.input :id, label: false, as: :string, input_html: {name: "question[#{q.id}][#{order}][value]", value: @survey.answers.where(question: q, order: order).pluck(:value).join(), data: {group: group.id, question: q.id, count: order}}, wrapper: false %>

                          <% when "unica_escolha" %>
                            <div class="alternatives">

                              <%= f.input :id, as: :radio_buttons, collection: q.alternatives.where("as_other = 0 or as_other is null").sort, label: false, checked: @survey.answers.where(question: q, order: order).pluck(:alternative_id), input_html: {name: "question[#{q.id}][#{order}][alternative]", data: {group: group.id, question: q.id, count: order}}, wrapper: false %>

                              <% if q.alternatives.exists?(as_other: 1) %>
                                <%= f.input :id, as: :radio_buttons, collection: q.alternatives.where(as_other: 1).sort, label: false, checked: @survey.answers.where(question: q, order: order).pluck(:alternative_id), input_html: {name: "question[#{q.id}][#{order}][alternative]", class: "as_other", data: {group: group.id, question: q.id, count: order}}, wrapper: false %>
                                <%= f.input :id, as: :string, label: false, input_html: {name: "question[#{q.id}][#{order}][value]", value: @survey.answers.where(question: q, order: order).pluck(:value).join(), data: {group: group.id, question: q.id, count: order}}, wrapper: false %>
                              <% end %>
                            </div>
                            <% when "multipla_escolha" %>                        
                              <div class="alternatives">          
                                <%= f.input :id, as: :check_boxes, collection: q.alternatives.where("as_other = 0 or as_other is null").sort, label: false, checked: @survey.answers.where(question: q, order: order).pluck(:alternative_id), input_html: {name: "question[#{q.id}][#{order}][alternative][]", data: {group: group.id, question: q.id, count: order}}, wrapper: false%>
                                <% if q.alternatives.exists?(as_other: 1) %>
                                  <%= f.input :id, as: :check_boxes, collection: q.alternatives.where(as_other: 1).sort, label: false, checked: @survey.answers.where(question: q, order: order).pluck(:alternative_id), input_html: {name: "question[#{q.id}][#{order}][alternative][]", class: "as_other", data: {group: group.id, question: q.id, count: order}}, wrapper: false%>
                                  <%= f.input :id, as: :string, label: false, input_html: {name: "question[#{q.id}][#{order}][value]", value: @survey.answers.where(question: q, order: order).pluck(:value).join(), data: {group: group.id, question: q.id, count: order}}, wrapper: false %>
                                <% end %>
                              </div>
                            <% end %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                  <% end %>
                  <tr>
                    <td colspan="<%= list_count %>" class="text-center">
                      Novo campo
                    </td>
                  </tr>
                </tbody>
              </table>            
          <% end %>
        <% end %>
        <% if @research.groups.count != index + 1 %>
          <a href="#group<%= index + 1 %>" class="button hollow radius care"> Continuar >></a>
        <% else %>
          <%= f.submit "Salvar", class: "button hollow radius right" %>
        <% end %>
      </div>
  	<% end %>
  </div>

  <div class="form-actions">
    <br>
                
  </div>
<% end %>