<div class="large-12 large-centered end columns">
  <div class="large-12">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% if key == 'error'%>
          <div data-alert class="alert-box alert">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  
    <div class="row header">
      <div class="large-4 columns">
        <span class="icon-calendar"></span>
        <h6>Editar Resposta</h6>  
      </div>
    </div>
    <hr>
    
    <h6 class="survey">Questionário: <%= @survey.number_survey %></h6>

    <div class="large-12 columns large-centered">
      <div class="progress">
        <span class="meter" style="width: <%= 100/@research.groups.count%>%"></span>
      </div>
      
      <%= render 'simple_form' %>
    </div>
  </div>
</div>