
<div class="large-12 large-centered end columns">
  <div class="large-12">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% if key == 'error'%>
          <div data-alert class="alert-box alert">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  
    <div class="row header">
      <div class="large-4 columns">
        <span class="icon-calendar"></span>
        <h6>Resposta</h6>  
      </div>
      <div class="large-8 columns text-right">
        <% if can? :edit, Answer%>
          <%= link_to 'Editar', admin_event_research_survey_answers_edit_path(@event, @research, @survey), :class => "button tiny hollow radius icon-edit" %>
        <% end %>
      </div>  
    </div>
    <hr>
    
    <h6 class="survey">Questionário: <%= @survey.number_survey %></h6>

    <div class="large-12 columns large-centered">

      <dl class="tabs" data-tab>
        <% letter = ("A".."Z").to_a %>
        <% @research.groups.sort.each_with_index { |group, index| %>
          
          <dd class="<%= index == 0 ? "active" : "" %>">
            <a href="#group<%= index %>"><%= index + 1 %></a>
          </dd>
        <% } %>  
      </dl>

      <div class="tabs-content">
        <% @research.groups.sort.each_with_index { |group, index| %>
          <div class="content <%= index == 0 ? "active" : "" %>" id="group<%= index %>">
              <h4><strong><%= group.title%></strong></h4>
              <hr>
              <% group.questions.where(father_id: nil).sort.each { |question| %>
                  <% case question.type_question  
                  when "texto" %>
                    <h5><%= question.title %></h5>
                      <p><%= @survey.answers.where(question: question).first.value %></p>
                  <% when "unica_escolha" %>
                    <h5><%= question.title %></h5>
                      <% @survey.answers.where(question: question).sort.each do |answer|%>
                        <% if answer.alternative.as_other == 0 %>
                          <p><%= answer.alternative.title %></p>
                        <% else %>
                          <p><%= answer.alternative.title %>, <%= answer.value %></p>
                        <% end %>
                      <% end %>
                  <% when "multipla_escolha" %>
                    <h5><%= question.title %></h5>
                      <% @survey.answers.where(question: question).sort.each do |answer|%>
                        <% if answer.alternative.as_other == 0 %>
                          <p><%= answer.alternative.title %></p>
                        <% else %>
                          <p><%= answer.alternative.title %>, <%= answer.value %></p>
                        <% end %>
                      <% end %>                  
                  <% when "lista" %>
                    <h5><%= question.title %></h5>
                      <table>
                        <thead>
                          <tr>
                            <% group.questions.where(father_id: question.id).sort.each do |q| %>
                              <td><%= q.title%></td>
                            <% end %>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <% group.questions.where(father_id: question.id).sort.each do |q| %>
                              <td>
                                <% case q.type_question  
                                when "texto" %>
                                  <p><%= @survey.answers.where(question: q).pluck(:value).join %></p>
                                <% when "unica_escolha" %>
                                  <% @survey.answers.where(question: q).sort.each do |answer|%>
                                    <% if answer.alternative.as_other == 0 %>
                                      <p><%= answer.alternative.title %></p>
                                    <% else %>
                                      <p><%= answer.alternative.title %>, <%= answer.value %></p>
                                    <% end %>
                                  <% end %>
                                <% when "multipla_escolha" %>
                                  <% @survey.answers.where(question: q).sort.each do |answer|%>
                                    <% if answer.alternative.as_other == 0 %>
                                      <p><%= answer.alternative.title %></p>
                                    <% else %>
                                      <p><%= answer.alternative.title %>, <%= answer.value %></p>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              </td>
                            <% end %> 
                          </tr>
                        </tbody>
                      </table>
                  <% end %>
              <% } %>
          </div>
        <% } %>
      </div>
      
    </div>
  </div>
</div>
