<div class="row header">
    <div class="large-4 columns end ">
      <span class="icon-calendar"></span>
      <h6>Resposta <%= @survey.number_survey %></h6>  
    </div>
  </div>
  <hr>
	<%= render 'simple_form' %>

</div>