

<div class="large-12 columns content">
  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to 'QUESTIONÁRIOS', admin_event_researches_path%></li>
  </ul>
  <div class="large-4 columns">
    <h3>Visualizar Resposta</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Resposta', new_admin_research_answer_path, :class => "button tiny" %>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Research:</strong>
    <%= @answer.research.title %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= @answer.question_id %>
  </p>

  <p>
    <strong>Objective:</strong>
    <%= @answer.objective %>
  </p>

  <p>
    <strong>Subjective:</strong>
    <%= @answer.subjective %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @answer.author.email %>
  </p>

  <%= link_to 'Edit', edit_admin_research_answer_path(@answer.research, @answer), :class => "button tiny" %> |
  <%= link_to 'Back', admin_research_answers_path, :class => "button tiny" %>
</div>
