.survey{
	color: $gray-1;
	margin-bottom: 1rem;
}

.tabs {
	display: block;
	text-align: center;
	dd{
		display: inline-block;
		float: none;
		a{
			font-size: 0.9rem;
			padding: 0.5rem 1rem;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border: 1px solid $gray;
			border-bottom: none;
			color: $gray-1;
			background: $gray-2;
		}
		&.active{
			a{
				color: $gray-1;
			}
		}
	}
}

.tabs-content{
	border: 1px solid $gray;
	border-radius: 7px;
	margin-top: -0.04rem;
	.content{
		padding: 1.1rem;
	}

	h4{
		margin-bottom: 1rem;
		color: $gray-1;
	}
	
	h5{
		margin-top: 2rem;
		color: $gray-1;
	}
	label{
		color: $gray-1;
	}
	p{
		font-size: 0.9rem;
		margin-left: 1rem;
		margin-top: 0.5rem;
	}
	input[type="submit"]{
		margin-bottom: 1rem;
	}
}

table.lista{
	td{
		position: relative;
		span.icon-cancel.answer-list{
			cursor: pointer;
			font-size: 0.9rem;
			position: absolute;
			padding: 0;
			margin: 0;
			vertical-align: middle;
			left: -1rem;
		}
	}
	tbody{
		tr:last-child{
			cursor: pointer;
		}
	}
}