.header{
	line-height: 30px;
	[class^="icon-"]{
		font-size: 1.3rem;
		color: $gray-1;
		vertical-align: middle;
	}
	h6{
		display: inline-block;
		margin: 0 0 0 0.2rem;
		color: $gray-1;
		font-weight: bold;
		letter-spacing: 0.03rem;
		vertical-align: middle;
	}
}