.login{	
	padding: 2rem 1rem;
	img{
		max-width: 7rem;
		margin-bottom: 2rem;
	}
	
	h4{
		margin-bottom: 1.5rem;
	}

	input[type="submit"]{
		margin: 0.5rem 0 1.5rem 0;
	}
	
	input[type="text"]{
		margin-bottom: 1.5rem;
	}

	input[type="checkbox"] + label, label{
		margin: 0 0 0.5rem 0;
	}

	a{
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 40em) {

}