.questions{

	border-radius: 10px;
	border: 1px solid $gray;
	padding: 0.9375rem;

	h6{
		font-size: 0.9rem;
		color: $gray-1;
		display: inline-block;
		line-height: 2.2;
	}

	input[type="text"]{
		display: inline-block;
		border: none;
		border-bottom: 1px solid #dddddd;
		box-shadow: none;
		border-radius: 0;
		&:focus{
			background: $green-4;
		}
	}

	.title{
		text-align: left;
		margin-bottom: 1.5rem;
		h6{
			width: auto;
		}
		input[type="text"]{
			//width: 90%;
		}
		select{
			width: auto;
		}
	}

	.icon-cancel{
		position: absolute;
		top: 0.8rem;
		left: -1rem;
		cursor: pointer;
		color: $gray;
		border: none;
		padding: 0;
		background: transparent;
		margin: 0;
		&:hover{
			color: $gray-1;
		}
	}
	
	.nova-alternativa, .outra-alternativa, .nova-pergunta{
		margin-top: 2rem;
		cursor: pointer;
		color: $gray;
		border: none;
		padding: 0;
		background: transparent;
		margin: 0;
		&:hover{
			text-decoration: underline;
		}
		&.lista{
			margin-bottom: 2rem;
		}
	}

	.tipo{
		select{
			display: inline-block;
			border: none;
			border-bottom: 1px solid #dddddd;
			box-shadow: none;
			border-radius: 0;
			width: auto;
			padding-right: 1.5rem;
			background-color: white;
			&:focus{
				background-color: $green-4;
			}
		}
	}

	.alternativa{
		.icon-cancel{
			position: relative;
			left: -1.8rem;;
			right: auto;
			top: 1.75rem;
		}
		.alternativa-opcao{
			color: $gray;
		}
	}

	.lista{
		.title{
			margin-left: 0;
		}
		.icon-cancel{
			left: -2rem;
		}
	}
}

.icon-cancel.group{
	top: 0;
	left: 0;
	font-size: 1.2rem;
}