.row.search{
	margin: 0.5rem 0 0;
}

.search{
	background-color: $gray-2;
	padding: 0.5rem 0.2rem 0.5rem 0.2rem;
	border-top: 1px solid $gray-1;
	label{
		display: inline-block;
		color: $gray-1;
	}
	input, select{
		margin-bottom: 0;
		height: 1.9rem;
		padding: 0.3rem;
		border-color: $gray-1;
		font-size: 0.8rem;
		background-color: $white;
	}	

	input{
		background: url('<%= asset_path("search.png")%>') 97% no-repeat;
		background-color: $white;
		background-size: 1rem;
		padding-right: 1.25rem;
		&:focus{
			background: url('<%= asset_path("search.png")%>') 97% no-repeat;
			background-size: 1.1rem;
			background-color: $white;
		}
	}

	select:hover{
		background-color: $white;
		display: inline-block;
	}

	.divider{
		border-left: 1px solid $gray-1;
		height: 30px;
		width: 0.1%;
		opacity: 0.3;
		&.columns{
			padding: 0;
		}
	}
}

@media only screen and (max-width: 40em) {
	.search{		
		.divider{
			display: none;
		}
		&.surveys{
			form{
				[class^="large-"]{
					margin-bottom: 1rem;
				}
			}
		}
	}
}