<%= form_for([:admin, @event, @research, @group, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :type_question %><br>
    <%= f.select(:type_question, Question.type_questions.keys.map {|type_question| [type_question.titleize,type_question]})%>
  </div>
  <%= f.hidden_field :group_id, value: @group.id %>
  <div class="actions">
    <%= f.submit "Criar", class: "button success" %>
  </div>
<% end %>
