

<div class="large-12 columns content">

  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to @group.title, admin_event_research_groups_path%></li>
    <li><%= link_to 'Perguntas', admin_event_research_group_questions_path%></li>
  </ul>

  <div class="large-4 columns">
    <h3>Editar Pergunta</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Pergunta', new_admin_event_research_group_question_path, :class => "button tiny" %>
  </div>

  <div class="large-12 columns">

	<%= render 'form' %>

	<%= link_to 'Show', admin_event_research_group_question_path(@event, @research, @group, @question), :class => "button tiny" %> |
	<%= link_to 'Back', admin_event_research_group_questions_path, :class => "button tiny" %>
  </div>
</div>
