<div class="row header">
  <div class="large-4 columns">
    <span class="icon-question"></span>
    <h6>Perguntas</h6>  
  </div>
</div>

<hr>

<div class="row">
  <div class="large-12 columns large-centered">

    <%= simple_form_for([:admin, @event, @research], url: admin_event_research_questions_path) do |f| %>
      <dl class="tabs" data-tab>
        <dd class="active"><a href="">1</a></dd>
        <dd><a href="">+</a></dd>
      </dl>
      <div class="tabs-content questions">
        <div class="large-12 columns ">
          
          <div class="title large-12 columns">
            <div class="row">
              <div class="large-1 columns">
                <h6>Grupo</h6>
              </div>
              <div class="large-11 columns">
                
                <%= f.input %>
              </div>
              <span class="icon-cancel"></span>
            </div> 
          </div>

          <div class="title large-12 columns">
            <div class="row collpase">
              <div class="large-1 columns">
                <h6>Pergunta</h6>
              </div>
              <div class="large-11 columns">
                <input type="text" placeholder="Título da Pergunta">
              </div>
              <span class="icon-cancel"></span>
            </div>
            
            <div class="row collapse">
              <div class="tipo large-11 columns right">
                <div class="row collpase">
                  <div class="large-1 columns">
                    <h6>Tipo</h6>
                  </div>
                  <div class="large-11 columns">
                    <select name="" id="">
                      <option value="0">Texto</option>
                      <option value="0">Única escolha</option>
                      <option value="0">Múltipla escolha</option>
                      <option value="0">Lista</option>
                    </select>
                  </div>
                </div>
                
                <div class="row collapse">
                  <div class="alternativa large-11 columns right">
                    <span class="icon-cancel"></span>
                    <input type="text" placeholder="Alternativa 1 ">
                    <div class="alternativa-opcao">
                      <span class="nova-alternativa">Nova alternativa</span> ou <span class="outra-alternativa">adicionar Outra</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    <% end %>
  </div>
</div>