

<div class="large-12 columns content">
  <div class="large-4 columns">
    <h3>Nova Pergunta</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Pergunta', new_admin_event_research_group_question_path, :class => "button tiny" %>
  </div>

	<%= render 'form' %>

	<%= link_to 'Back', admin_event_research_group_questions_path,  :class => "button tiny" %>
</div>
