<div class="large-3 small-9 medium-5 medium-centerd small-centered large-centered columns wrapper login">
	<div class="text-center">
		<img src="<%= asset_path("publica.png") %>" alt="">
	</div>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div><%= devise_error_messages! %></div>
	  <div><%= f.label :email %>
	  	<%= f.email_field :email, autofocus: true %>
	  </div>

	  <div><%= f.label :password, "Senha" %>
	    <%= f.password_field :password, autocomplete: "off"%>
	  </div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembrar-me" %></div>
	  <% end -%>

	  <%= f.submit "Entrar", :class => "large-12 small-12 medium-12 button" %>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
