

<div class="large-12 columns content">
  
  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path %></li>
    <li><%= link_to @research.title, admin_event_researches_path%></li>
    <li><%= link_to "Grupo de Perguntas", admin_event_research_groups_path %></li>
  </ul>

  <div class="large-4 columns">
    <h3>Editar Grupo de Pergunta</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Novo Grupo', new_admin_event_research_group_path, :class => "button tiny" %>
  </div>

  <div class="large-12 columns">
	<%= render 'form' %>

	<%= link_to 'Show', admin_event_research_group_path(@event, @research, @group), :class => "button tiny" %> |
	<%= link_to 'Back', admin_event_research_groups_path, :class => "button tiny" %>
  </div>
</div>
