<div class="row header">
  <div class="large-4 columns">
    <span class="icon-question"></span>
    <h6>Perguntas</h6>  
  </div>
  <div class="large-8 columns text-right">
    <a href="#" class="button tiny hollow radius icon-info" data-reveal-id="dicas">Dicas</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="large-12 columns large-centered" id="groups">

    <%= simple_form_for([:admin, @event, @research], url: groups_admin_event_research_path) do |f| %>
      <dl class="tabs" data-tab>
        <% if @research.groups.empty? %>
          <dd class="active"><a href="#group1">1</a></dd>
        <% else %>
          <% @research.groups.sort.each_with_index{|group, index| %>
            <dd class="<%= "active" unless index != 0 %>"><a href="#group<%= index %>"><%= index+1 %></a></dd>
          <% } %>
        <% end %>
        <dd class="add-group"><a href="">+</a></dd>
      </dl>
      <div class="tabs-content questions">
        <% @research.groups.sort.each_with_index{|group, index| %>
          <% count_list = 1 %>
          <div class="content large-12 columns <%= "active" unless index != 0 %>" id="group<%= index %>">
            <%= f.simple_fields_for :groups, group do |f_group| %>
              <% if index != 0 %>
                <button class="icon-cancel group"></button>
              <% end %>
              <div class="title large-12 columns">
                <div class="row">
                  <div class="large-1 columns">
                    <h6>Grupo</h6>
                  </div>
                  <div class="large-11 columns">
                    <%= f_group.input :title, placeholder: "Nome do Grupo", input_html: {data: {group: index}, name: "groups[#{index}][title]"}, label: false, wrapper: false, autofocus: true%>
                    <% if !f_group.object.new_record? %>
                      <%= f_group.input :id, as: :hidden, wrapper: false, input_html: {name: "groups[#{index}][id]"} %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% group.questions.where(father_id: nil).sort.each_with_index{|question, index_q| %>
                        
                <%= f_group.simple_fields_for :questions, question do |f_question| %>

                    <div class="title large-12 columns">
                      <div class="row collpase">
                        <div class="large-1 columns">
                          <h6>Pergunta</h6>
                        </div>
                        <% if index_q != 0 %>
                          <button class="icon-cancel question"></button>
                        <% end %>
                        <div class="large-11 columns">
                          <%= f_question.input :title, placeholder: "Título da pergunta", input_html: {data: {group: index, question: index_q}, name: "groups[#{index}][question][#{index_q}][title]", class: "question"}, label: false, wrapper: false %>
                          <% if !f_question.object.new_record? %>
                            <%= f_question.input :id, as: :hidden, wrapper: false, input_html: {name: "groups[#{index}][question][#{index_q}][id]"} %>
                          <% end %>
                        </div>                  
                      </div>
                      
                      <div class="row collapse">
                        <div class="tipo large-11 columns right">
                          <div class="row collpase">
                            <div class="large-1 columns">
                              <h6>Tipo</h6>
                            </div>
                            <div class="large-11 columns">
                              <%= f_question.input :type_question, collection: Question.type_questions.keys.map {|type_question| [type_question.titleize,type_question]}, input_html: {class: "type_question", data: {group: index, question: index_q}, name: "groups[#{index}][question][#{index_q}][type_question]"}, label: false, include_blank: false, wrapper: false %>
                             
                            </div>
                          </div>

                          <% if ["unica_escolha", "multipla_escolha"].include? question.type_question and question.father_id == nil %>
                            <div class="row collapse">
                              <div class="alternativa large-11 columns right">
                                <div class="alternativas">
                                  <% question.alternatives.order(:id, :as_other).each_with_index do |alternative, index_a|%>
                                    <%= f_question.simple_fields_for :alternatives, alternative do |f_alternative| %>
                                        <div>
                                          <button class="icon-cancel alternative"></button>
                                          <%= f_alternative.input :title, placeholder: "Nova alternativa", input_html: {data: {alternative: index_a, other: alternative.as_other, group: index, question: index_q}, name: "groups[#{index}][question][#{index_q}][alternative][#{index_a}][title]"}, label: false, wrapper: false%>
                                          <% if !f_alternative.object.new_record? %>
                                            <%= f_alternative.input :id, as: :hidden, wrapper: false, input_html: {name: "groups[#{index}][question][#{index_q}][alternative][#{index_a}][id]"} %>
                                          <% end %>
                                          <% if alternative.as_other == 1 %>
                                            <%= f_alternative.input :as_other, as: :hidden, wrapper: false, input_html: {name: "groups[#{index}][question][#{index_q}][alternative][#{index_a}][as_other]"} %>
                                          <% end %>
                                        </div>
                                      <% end %>
                                    <% end %>
                                </div>
                                <div class="alternativa-opcao">
                                  <button class="nova-alternativa" data-group="<%= index%>" data-question="<%= index_q %>">Nova alternativa</button> <% if question.alternatives.where(as_other: true).count == 0 %> ou <button class="outra-alternativa" data-group="<%= index%>" data-question="<%= index_q %>">adicionar Outra</button>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          <% elsif question.type_question == "lista" %>
                            <div class="row collapse">
                                <div class="lista large-11 columns right">
                            <% count_list = Question.where(father_id: question.id).count %>
                            <% Question.where(father_id: question.id).sort.each_with_index do |qfi, index_qfi| %>
                              <%= f_group.simple_fields_for :questions, qfi do |f_lquestion| %>
                                  <div class="row collapse">
                                    <div class="title large-12 columns">
                                      <div class="row collpase">
                                        <div class="large-1 columns">
                                          <h6>Pergunta</h6>
                                        </div>
                                        <% if index_q != 0 %>
                                          <button class="icon-cancel question"></button>
                                        <% end %>
                                        <div class="large-11 columns">
                                          <%= f_lquestion.input :title, placeholder: "Título da pergunta", input_html: {data: {group: index, father_id: index_q, question: index_q, list: index_qfi}, name: "groups[#{index}][question][#{index_q}][lista][#{index_qfi}][title]", class: "question"}, label: false, wrapper: false %>
                                          <%= f_lquestion.input :id, as: :hidden, wrapper: false, input_html: {name: "groups[#{index}][question][#{index_q}][lista][#{index_qfi}][id]"} %>
                                          <%= f_lquestion.input :father_id, as: :hidden, wrapper: false, input_html: {name: "groups[#{index}][question][#{index_q}][lista][#{index_qfi}][father_id]"} %>
                                        </div>
                                      </div>
                                      
                                      <div class="row collapse">
                                        <div class="tipo large-11 columns right">
                                          <div class="row collpase">
                                            <div class="large-1 columns">
                                              <h6>Tipo</h6>
                                            </div>
                                            <div class="large-11 columns">
                                              <%= f_lquestion.input :type_question, collection: Question.type_questions.keys.map {|type_question| [type_question.titleize,type_question]}, input_html: {class: "type_question", data: {group: index, question: index_q}, name: "groups[#{index}][question][#{index_q}][lista][#{index_qfi}][type_question]"}, label: false, include_blank: false, wrapper: false%>
                                            </div>
                                          </div>
                                          
                                          <% if ["unica_escolha", "multipla_escolha"].include? qfi.type_question %>
                                            <div class="row collapse">
                                              <div class="alternativa large-11 columns right">
                                                <div class="alternativas">
                                                  <% qfi.alternatives.order(:id, :as_other).each_with_index do |alternative, index_a|%>
                                                    <%= f_lquestion.simple_fields_for :alternatives, alternative do |f_alternative| %>
                                                        <div>
                                                          <button class="icon-cancel alternative"></button>
                                                          <%= f_alternative.input :title, placeholder: "Nova alternativa", input_html: {data: {alternative: index_a, other: alternative.as_other, group: index, question: index_q}, name: "groups[#{index}][question][#{index_q}][lista][#{index_qfi}][alternative][#{index_a}][title]"}, label: false, wrapper: false%>
                                                          <%= f_alternative.input :id, as: :hidden, wrapper: false, input_html: {name: "groups[#{index}][question][#{index_q}][lista][#{index_qfi}][alternative][#{index_a}][id]"} %>
                                                          <% if alternative.as_other == 1 %>
                                                            <%= f_alternative.input :as_other, as: :hidden, wrapper: false, input_html: {name: "groups[#{index}][question][#{index_q}][lista][#{index_qfi}][alternative][#{index_a}][as_other]"} %>
                                                          <% end %>
                                                        </div>
                                                      <% end %>
                                                    <% end %>
                                                </div>
                                                <div class="alternativa-opcao">
                                                  <button class="nova-alternativa" data-group="<%= index %>" data-question="<%= index_q %>">Nova alternativa</button> <% if qfi.alternatives.where(as_other: true).count == 0 %> ou <button class="outra-alternativa" data-group="<%= index%>" data-question="<%= index_q %>">adicionar Outra</button>
                                                  <% end %>
                                                </div>
                                              </div>
                                            </div>
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>
                                    <%if count_list == index_qfi+1 %>
                                      <div class="row collpase">
                                        <button class="nova-pergunta lista large-12 columns text-left" data-type="lista">
                                          Nova Pergunta
                                        </button>
                                      </div>
                                    <% end %>
                                  </div>
                              <% end %>
                            <% end %>
                            </div>
                              </div>  
                          <% end %>
                        </div>
                      </div>
                    </div>
                <% end %>
                
              <% } %>    
              <div class="row collpase">
                <button class="nova-pergunta large-12 columns text-left">
                  Nova Pergunta
                </button>
              </div>
            </div>
          <% end %>
        <% } %>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <%= link_to 'Cancelar', admin_event_researches_path, class: "button hollow radius alert" %>
        </div>
        <div class="large-6 columns text-right end">
          <%= f.submit "Salvar", class: "button hollow radius" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="dicas" class="reveal-modal" data-reveal>
  <div class="large-12 columns">
    <div class="large-4 columns">
      <h5><span class="icon-info"></span> Dicas</h5>
    </div>
    <div class="large-8 columns text-right">
      <a class="close-reveal-modal"><span class="icon-cancel"></span></a>
    </div>
    <hr>
    <p><%= image_tag "tab.svg" %> Utilize a tecla TAB para navegar entre os campos do formulário </p>
    <p><strong>Para o campo Tipo</strong> existem os seguintes atalhos:</p>
    <ul>
      <li><strong>T</strong> - texto </li>
      <li><strong>U</strong> - única escolha </li>
      <li><strong>M</strong> - múltipla escolha </li>
      <li><strong>L</strong> - lista </li>
    </ul>
  </div>
</div>
