

<div class="large-12 columns content">
  <div class="large-4 columns">
    <h3>Novo Grupo de Pergunta</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Novo Grupo', new_admin_event_research_group_path, :class => "button tiny" %>
  </div>

<%= render 'form' %>

<%= link_to 'Back', admin_event_research_groups_path, :class => "button tiny" %>

</div>
