<p>Olá, <%= @resource.email %>!</p>

<p>Soubemos que você precisa de redefinir sua senha. Clique no link abaixo e você será redirecionado a um site seguro a partir do qual você pode definir uma nova senha.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu isso, desconsidere esse email.</p>

