<div class="row form">
  <div class="large-12 columns end">
    <%= simple_form_for([:admin,@user]) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="large-4 columns">
        <%= f.input :name, autofocus: true, required: true, label: 'Nome' %>
      </div>
      <div class="large-8 columns end">
        <%= f.input :email, as: :email, autofocus: true, required: true, label: 'E-mail' %>
      </div>
      
      <% if current_user.role == 'Administrador'%>
        <div class="large-12 columns ">
          <label for="">Permissão</label>
          <div class="large-4">
            <%= f.select :role, [['Administrador', 'Administrador'], ['Coordenador', 'Coordenador'], ['Pesquisador', 'Pesquisador']] %>
          </div>
        </div>
      <% end %>
      
      <div  class="large-6 columns">
        <%= f.input :password, as: :password, autocomplete: "off", label: "Senha" %>
      </div>      
      <div  class="large-6 columns end">
        <%= f.input :password_confirmation, as: :password, autocomplete: "off", label: "Confirmação de senha" %>
      </div>
      
      <div class="row">
        <div class="large-6 columns">
          <%= link_to 'Cancelar', admin_users_path, class: "button hollow radius alert" %>
        </div>
        <div class="large-6 columns text-right end">
          <%= f.submit "Salvar", class: "button hollow radius" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
