    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% if key == 'error'%>
          <div data-alert class="alert-box alert">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="row header">
      <div class="large-4 columns">
        <span class="icon-users"></span>
        <h6>Usuários</h6>  
      </div>
      <div class="large-8 columns text-right">
        <% if can? :new, User %>
          <%= link_to 'Novo Usuário', new_admin_user_path, :class => "button tiny hollow radius icon-plus " %>
        <% end %>
      </div>  
    </div>
    
    <hr>

    <table class="large-12">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Permissão</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody id="content">
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>            
            
            <td class="icon">
              <%= link_to edit_admin_user_path(user) do %>
                 <span class="icon-edit radius" data-tooltip aria-haspopup="true" title="Editar"></span>
              <% end %>
            </td>

            <td class="icon">
              <%= link_to admin_user_path(user),class: "sweet", data: {text: "Tem certeza que deseja excluir o usuário: #{user.name} ?", title: "Excluir", id: user.id} do %>
              <span class="icon-cancel radius"></span>
              <% end %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table> 

    
    
    <%= paginate @users, remote: true %>
  </div>
</div>