<div class="row header">
  <div class="large-4 columns end ">
    <span class="icon-users"></span>
    <h6>Visualizar Usuário</h6>  
  </div>
</div>
<hr>

<div class="large-12 columns content">
  <div class="large-4 columns">
    <h3>Usuário</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Novo Usuário', new_admin_user_path, :class => "button tiny" %>
  </div>

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nome:</strong>
	  <%= @user.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>

	<p>
	  <strong>Permissão:</strong>
	  <%= @user.role %>
	</p>

	<%= link_to 'Edit', edit_admin_user_path(@user), :class => "button tiny" %> |
	<%= link_to 'Back', admin_users_path, :class => "button tiny" %>
</div>
