<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
  <title>Publica</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->
</head>
<body>

<% if current_user %>
<div class="row full-width">
	<div class="large-12 menu">
	  <nav class="top-bar large-11 large-centered columns end" data-topbar>
	    <ul class="title-area">
	      <li class="name">
	        <h1><%= link_to 'Gepes', admin_root_path %></h1>
	      </li>
	      <img src="" alt="">
	       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	    </ul>
	    
	    <section class="top-bar-section">    
	      <ul class="left">
	        <% if can? :index, @users %>
	          <li><%= link_to "Usuários", admin_users_path %></li>
	        <% end %>
	        <li><%= link_to "Eventos", admin_events_path %></li>
	      </ul>
	      <ul class="right">
	        <li><%= link_to "Olá, #{current_user.name.blank? ? current_user.email : current_user.name}", edit_admin_user_path(current_user) %></a></li>
	        <li><%= link_to "Sair", destroy_user_session_path, method: :delete%></li>
	      </ul>
	    </section>
	  </nav>
	</div>

	<div class="large-11 large-centered end columns wrapper">
	  <div class="large-12">
	  	<% if alert %>
	  		<div data-alert class="alert-box info radius">
				  <%= alert %>
				  <a href="#" class="close">&times;</a>
				</div>
			<% end %>
			<% if notice %>
				<div data-alert class="alert-box success radius">
				  <%= notice %>
				  <a href="#" class="close">&times;</a>
				</div>
			<% end %>
	    <% if !render_breadcrumbs.empty? %>
	      <ul class="breadcrumbs">
	        <%= render_breadcrumbs tag: :li, separator: "" %>
	      </ul>
	    <% end %>
<% end %>
			<%= yield %>
<% if current_user %>
		</div>
	</div>
</div>
<% end %>

<%= javascript_include_tag 'application'%>

</body>
</html>
