<div class="row form">
  <div class="large-12 columns end">
  <%= simple_form_for([:admin, @event, @research]) do |f| %>
    <% if @research.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @research.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.input :title, label: "Título", wrapper_html: {class: "large-6"} %>
    
    
    <%= f.input :description, label: "Descrição", wrapper_html: {class: "large-6"}  %>
    
    <fieldset class="large-6">
      <legend>Coordenadores</legend>
      <%= f.association :users, as: :check_boxes, collection: User.coordinators, label: false %>
    </fieldset>

    <%= simple_fields_for :research_identifiers do |research_identifiers| %>
      <fieldset class="large-6">
        <legend>Copiar Identificadores</legend>
        <p>Selecione uma pesquisa para copiar os Identificadores</p>
        <%= research_identifiers.input :research_id, collection: @researches_identifiers, input_html: {multiple: false}, include_blank: false, prompt: "Nenhum", :label => false %>
      </fieldset>
    <% end %>

    <div class="field" style="width: 30%;">
      <% if @research.blank? %>    
        <%= f.input :status, collection: Research.statuses.map {|status| [status[0].humanize, status[0]]}, include_blank: false, selected: lambda { |v| v[0].sq? @research.status.humanize } %>
      <% else %>
        <%= f.input :status, collection: Research.statuses.map {|status| [status[0].humanize, status[0]]}, include_blank: false %>
      <% end %>
    </div>
    <div class="row">
      <div class="large-3 small-6 medium-6 columns">
        <%= link_to 'Cancelar', admin_event_researches_path, class: "button hollow radius alert" %>
      </div>
      <div class="large-3 small-6 medium-6 columns text-right end">
        <%= f.submit "Salvar", class: "button hollow radius" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
