<tr>
  <td>
    <%= research.title.humanize %>
    <span><%= l research.created_at.to_date, format: :long %></span>
  </td>
  <td class="hide-for-small">
    <ul>
      <% research.users.each do |user| %>                
        <% if user.role == "Coordenador" %>
          <li><%= user.name.humanize %></li>
        <% end %>
      <% end %>
    </ul>
  </td>
  <% if can? :index, Identifier %>
    <td>
      <%= link_to admin_event_research_identifiers_path(@event, research) do %>
        <span class="icon-vpn-key radius" data-tooltip aria-haspopup="true" title="Identificadores"></span>
      <% end %>
    </td>
  <% end %>
  <% if can? :index, Group %>
    <td>
      <%= link_to groups_admin_event_research_path(@event, research) do %>
        <span class="icon-question radius" data-tooltip aria-haspopup="true" title="Perguntas"></span>
      <% end %>
    </td>
  <% end %>
  <% if can? :index, Survey %>
    <td>
      <%= link_to admin_event_research_surveys_path(@event, research) do %>
        <span class="icon-clipboard radius" data-tooltip aria-haspopup="true" title="Questionários"></span>
      <% end %>
    </td>
  <% end %>
  <% if can? :report, @research %>
    <td>
      <%= link_to admin_event_research_report_path(@event, research) do %>
        <span class="icon-chart-pie radius" data-tooltip aria-haspopup="true" title="Relatório"></span>
      <% end %>
    </td>
  <% end %>
  <% if can? :edit, @research %>
  <td>
    <%= link_to edit_admin_event_research_path(@event, research) do%>
      <span class="icon-edit radius" data-tooltip aria-haspopup="true" title="Editar"></span>
    <% end %>
  </td>
  <% end %>
  <% if can? :destroy, @research %>
    <td>
      <%= link_to admin_event_research_path(@event, research), class: "sweet", data: { text: "Tem certeza que desejar excluir a pesquisa: #{research.title} ?", title: "Excluir", id: research.id } do %>
        <span class="icon-cancel"></span>
      <% end %>
    </td>
  <% end %>
</tr>