    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% if key == 'error'%>
          <div data-alert class="alert-box alert">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
    
    <div class="row collapse header">
      <div class="large-4 small-6 columns">
        <span class="icon-paper"></span>
        <h6>Pesquisas</h6>  
      </div>
      <div class="large-8 small-6 columns text-right">
        <% if can? :new, @event %>
          <%= link_to 'Criar Pesquisa', new_admin_event_research_path, :class => "button tiny hollow radius icon-plus" %>
        <% end %>
      </div>  
    </div>
    
    <div class="row search">
      <%= form_tag admin_event_researches_path, method: "get", id: "searchable" do %>
        <div class="large-4 small-8 columns">
          <%= text_field_tag "search", params[:search] ,placeholder: "Buscar Pesquisas", class: "radius", data: {type: "event"} %>
        </div>
        <div class="large-1 divider columns"></div>
        <div class="large-2 small-4 columns end">
          <select class="radius" name="sort" id="sortable">
            <option value="">Ordenar por</option>
            <option value="created_at">Data</option>
            <option value="title">Nome</option>
          </select>
        </div>
      <% end %>
    </div>
    
    <table class="large-12">
      <thead>
        <tr>
          <th class="large-6">Nome</th>
          <th class="large-6 hide-for-small">Coordenadores</th>
          <th colspan="6"></th>
        </tr>
      </thead>

      <tbody id="content">
        <%= render @researches %>
      </tbody>
    </table> 
    
    <%= paginate @researches, remote: true %>
    </div>
  </div>
