<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div class="large-12 columns">
		<br>
		<h2>Relatório</h2>
		<h3><%= @research.title%></h3>
		<hr>
		<div class="large-12 columns panel">
		<% @research.groups.each_with_index{|group, key| %>
			<h4><%= group.title %></h4>
			<% group.questions.where.not(type_question: "texto").order("id").each_with_index{|question, key| %>
				<% id = @number.sample %>
				<h5><%= question.title %></h5>
				<% if question.type_question == "unica_escolha" %>
					<script>
					  google.load('visualization', '1.0', {'packages':['corechart']});

					  google.setOnLoadCallback(drawChart);

					  function drawChart() {

					    var data = new google.visualization.DataTable();
					    data.addColumn('string', 'annotation');
					    data.addColumn('number', 'Slices');
					    data.addRows([
					    	<% question.alternatives.each_with_index{|alternative, index| %>
								['<%= alternative.title %>(<%= alternative.count %>)',<%= alternative.count %>],
							<% } %>
					    ]);

					    var options = {fontSize: 15, 'width':900, 'height':300};

					    var chart<%= id %> = new google.visualization.PieChart(document.getElementById('chart<%= id %>'));

					    google.visualization.events.addListener(chart<%= id %>, 'ready', function () {
					      	chart<%= id %>.innerHTML = '<img src="' + chart<%= id %>.getImageURI() + '">';
					      	document.getElementById('pngchart<%= id %>').outerHTML = '<a href="' + chart<%= id %>.getImageURI() + '"" target="_blank" class=" button tiny radius" style="padding-top: 0.325rem;padding-right: 0.325rem;padding-bottom: 0.3875rem;padding-left: 0.325rem;">Get image</a>';
					    });

					    chart<%= id %>.draw(data, options);
					  }
					</script>
				<% elsif question.type_question == "multipla_escolha" %>
					<script type="text/javascript">
					  google.load("visualization", "1", {packages:["corechart"]});
				      google.setOnLoadCallback(drawChart);
				      function drawChart() {
				        var data = google.visualization.arrayToDataTable([
				        		['Pergunta', 'Total', { role: 'style' }, { role: 'annotation' }],
				        		<% question.alternatives.each_with_index{|alternative, index| %>
									['<%= alternative.title %>', <%= alternative.count %>, '#<%= @colors.sample%>', <%= alternative.count %>],
								<% } %>
				        	]);

				        var options = {
				          hAxis: {title: 'Pergunta', titleTextStyle: {color: 'blue'}},
				          vAxis: {title: 'Total de Respostas', titleTextStyle: {color: 'blue'}}, chartArea: {width: '30%'}
				        };

				        var chart<%= id %> = new google.visualization.BarChart(document.getElementById('chart<%= id %>'));

				        google.visualization.events.addListener(chart<%= id %>, 'ready', function () {
					      	chart<%= id %>.innerHTML = '<img src="' + chart<%= id %>.getImageURI() + '">';
					      	document.getElementById('pngchart<%= id %>').outerHTML = '<a href="' + chart<%= id %>.getImageURI() + '"" target="_blank" class=" button tiny radius" style="padding-top: 0.325rem;padding-right: 0.325rem;padding-bottom: 0.3875rem;padding-left: 0.325rem;">Get image</a>';
					    });
				        chart<%= id %>.draw(data, options);
				    	}
					</script>
				<% end %>
				<div id="pngchart<%= id %>"></div>
				<div id="chart<%= id %>"></div>
			<% } %>
		<% } %>
		</div>
	</div>