

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
	google.load('visualization', '1.0', {'packages':['corechart']});
</script>

	<h5>Relatório - <%= @research.title%></h5>
	<hr>
	<%= hidden_field_tag "research", @research.id %>
	<div class="large-12 columns toolbox">
		<label for="">De</label>
		<form id="report">
			<% @research.identifiers.select(:id, :name).order(:id).each_with_index{|identifier, index| %>
				<div class="large-2 columns end">
					<label><b><%= identifier.name %></b></label>
					<% if index == 0 %>
						<% if identifier.survey_identifiers.select("survey_identifiers.id, survey_identifiers.survey_id, survey_identifiers.value").first.value.to_i == 0 %>
							<% if @research.identifiers.select(:id, :name).order(:id).count(:id) > index+1 %>
								<%= select_tag "de", options_from_collection_for_select(identifier.survey_identifiers.select("survey_identifiers.value").order(:value).group(:value), "value", "value"), class: "de", onchange: "getIdentifier(#{@research.id}, #{@research.identifiers.order(:id).select(:id)[index+1].id}, this)", prompt: "Selecionar Todos" %>
							<% else %>
								<%= select_tag "de", options_from_collection_for_select(identifier.survey_identifiers.select("survey_identifiers.value").order(:value).group(:value), "value", "value"), class: "de", prompt: "Selecionar Todos" %>
							<% end %>
						<% else %>
							<% if @research.identifiers.select(:id, :name).order(:id).count(:id) > index+1 %>
								<%= select_tag "de", options_from_collection_for_select(identifier.survey_identifiers.select("survey_identifiers.value").order("(survey_identifiers.value)::INT"), "value", "value"), class: "de", onchange: "getIdentifier(#{@research.id}, #{@research.identifiers.order(:id).select(:id)[index+1].id}, this)", prompt: "Selecionar Todos" %>
							<% else %>
								<%= select_tag "de", options_from_collection_for_select(identifier.survey_identifiers.select("survey_identifiers.value").order("(survey_identifiers.value)::INT"), "value", "value"), class: "de",  prompt: "Selecionar Todos" %>
							<% end %>
						<% end %>
					<% else %>
						<select name="de" id="de" class="de" <% if !@research.identifiers.select(:id)[index+1].nil? then %> onchange="getIdentifier(<%= @research.id %>, <%= @research.identifiers.order(:id).select(:id)[index+1].id %>, this)" <% end %>>
							<option value="">Selecione <%= @research.identifiers.select(:id, :name).order(:id)[index-1].name.humanize%></option>
						</select>
					<% end %> 
				</div>
			<% } %>
			<hr>
			<label for="">Até</label>
			<% @research.identifiers.select(:id, :name).order(:id).each_with_index{|identifier, index| %>
				<div class="large-2 columns end">
					<label><b><%= identifier.name %></b></label>
					<% if index == 0 %>
						<% if identifier.survey_identifiers.select("survey_identifiers.id, survey_identifiers.survey_id, survey_identifiers.value").first.value.to_i == 0 %>
							<% if @research.identifiers.select(:id, :name).order(:id).count(:id) > index+1 %>
								<%= select_tag "ate", options_from_collection_for_select(identifier.survey_identifiers.select("survey_identifiers.value").order(:value).group(:value), "value", "value"), class: "ate", onchange: "getIdentifier(#{@research.id}, #{@research.identifiers.order(:id).select(:id)[index+1].id}, this)", prompt: "Selecionar Todos" %>
							<% else %>
								<%= select_tag "ate", options_from_collection_for_select(identifier.survey_identifiers.select("survey_identifiers.value").order(:value).group(:value), "value", "value"), class: "ate", prompt: "Selecionar Todos" %>
							<% end %>
						<% else %>
							<% if @research.identifiers.select(:id, :name).order(:id).count(:id) > index+1 %>
								<%= select_tag "ate", options_from_collection_for_select(identifier.survey_identifiers.select("survey_identifiers.value").order("(survey_identifiers.value)::INT"), "value", "value"), class: "ate", onchange: "getIdentifier(#{@research.id}, #{@research.identifiers.order(:id).select(:id)[index+1].id}, this)", prompt: "Selecionar Todos" %>
							<% else %>
								<%= select_tag "ate", options_from_collection_for_select(identifier.survey_identifiers.select("survey_identifiers.value").order("(survey_identifiers.value)::INT"), "value", "value"), class: "ate",  prompt: "Selecionar Todos" %>
							<% end %>	
						<% end %>
					<% else %>
						<select name="ate" id="de" class="ate" <% if !@research.identifiers.select(:id)[index+1].nil? then %> onchange="getIdentifier(<%= @research.id %>, <%= @research.identifiers.order(:id).select(:id)[index+1].id %>, this)" <% end %>>
							<option value="">Selecione <%= @research.identifiers.select(:id, :name).order(:id)[index-1].name.humanize%></option>
						</select>
					<% end %>
				</div>
			<% } %>
			<div class="large-12 columns text-right">
				<input type="submit" value="Gerar Relatório" class="button hollow radius">
			</div>
		</form>
	</div>
	<hr>
	
	<div class="message panel">
		<h6>Selecione os questionários para gerar o relatório</h6>
	</div>
	<div class="large-12 large-centered loading columns hide">
		<h6 class="text-center"><b>Carregado...</b></h6>
		<div id="loadingProgressG" class="large-12 columns large-centered">
			<div id="loadingProgressG_1" class="loadingProgressG"></div>
		</div>
	</div>

	<div class="large-12 report hide ">
		<% @research.groups.sort.each { |group| %>
    <fieldset>
      <legend><%= group.title%></legend>
      <% group.questions.sort.each { |question| %>
          <% case question.type_question  
           when "unica_escolha" %>
            <div id="question_id_<%= question.id %>" class="large-12">
              <h6><%= question.title %></h6>
            </div>
            <br>
          <% when "multipla_escolha" %>
            <div id="question_id_<%= question.id %>" class="large-12">
              <h6><%= question.title %></h6>
            </div>
            <br>
          <% end %>
      <% } %>
    </fieldset>
  	<% } %>
	</div>
