

<div class="large-12 columns content">
  
  <ul class="breadcrumbs">
    <li><%= link_to @event.title, admin_events_path%></li>
    <li><%= link_to 'PESQUISAS'%></li>
  </ul>

  <div class="large-4 columns">
    <h3>Editar Pesquisa</h3>
  </div>
  <div class="large-8 columns text-right">
    <%= link_to 'Nova Pesquisa', new_admin_event_research_path, :class => "button tiny" %>
  </div>

  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @research.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @research.description %>
    </p>
    
    <p>
      <strong>Coordenadores:</strong>
      <br>
      <% @research.users.each do |user| %>
        <% if user.role == "Coordenador" %>
          <%= user.name %>
          <br>
        <% end %>
      <% end %>
    </p>  

    <p>
      <strong>Author:</strong>
      <%= @research.author.email %>
    </p>
    
    <p>
      <strong>Status:</strong>
      <%= @research.status.humanize %>
    </p>

    <%= link_to 'Edit', edit_admin_event_research_path(@event, @research), :class => "button tiny" %> |
    <%= link_to 'Back', admin_event_researches_path, :class => "button tiny" %>
  </div>
</div>
